Repository thorswap/SwapKit, pull requests merged in 2023-09, with the labels that each got.

#287 Fix/walletconnect send transaction
  .changeset/neat-hotels-destroy.md
  packages/wallets/walletconnect/src/evmSigner.ts
Labels: wc

#292 fix: wc modal
  .changeset/old-lemons-give.md
  packages/wallets/walletconnect/package.json
  packages/wallets/walletconnect/src/walletconnect.ts
  pnpm-lock.yaml
Labels: wc

#293 fix: walletconnect supported method
  .changeset/ninety-toes-destroy.md
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/wallets/walletconnect/src/constants.ts
  packages/wallets/walletconnect/src/evmSigner.ts
  packages/wallets/walletconnect/src/walletconnect.ts
Labels: evm, wc

#296 Add multisig to playground
  apps/vite-playground/package.json
  apps/vite-playground/src/App.tsx
  apps/vite-playground/src/Multisig/index.tsx
  apps/vite-playground/src/WalletPicker.tsx
  pnpm-lock.yaml
Labels: docs

#299 feat: enables BSC for walletconnect
  .changeset/poor-mayflies-lie.md
  apps/vite-playground/src/WalletPicker.tsx
  packages/wallets/walletconnect/src/evmSigner.ts
  packages/wallets/walletconnect/src/walletconnect.ts
Labels: docs, wc

#304 [Fix]: RUNE deposit broadcasting
  .changeset/witty-dancers-cheat.md
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/thorchain.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/walletconnect/src/walletconnect.ts
Labels: cosmos, wc, ledger

#309 Fix ledger deposit txs
  .changeset/silver-pears-wonder.md
  packages/wallets/ledger/src/ledger.ts
Labels: ledger

#315 Fix/ltc address identification
  .changeset/nice-grapes-ring.md
  packages/toolboxes/toolbox-utxo/src/api/blockchairApi.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/BaseUTXOToolbox.ts
  packages/toolboxes/toolbox-utxo/src/utils/txSize.ts
Labels: utxo

#317 fix: utxo max sendable balance
  .changeset/polite-trainers-admire.md
  packages/toolboxes/toolbox-utxo/src/toolbox/BaseUTXOToolbox.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/bch.ts
  packages/toolboxes/toolbox-utxo/src/utils/coinselect.ts
Labels: utxo

#323 fix: BSC call and tc vault abi
  .changeset/dull-paws-destroy.md
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/swapkit/types/src/abis/tcEthVault.ts
  packages/swapkit/types/src/index.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/toolbox-evm/src/toolbox/bsc.ts
Labels: core, evm, types

#325 chore: uses our own bsc node to fetch bsc balance for xdefi
  .changeset/few-pants-occur.md
  .changeset/shy-crabs-clean.md
  .size-limit.js
  packages/toolboxes/toolbox-evm/src/index.ts
  packages/wallets/xdefi/package.json
  packages/wallets/xdefi/src/helpers.ts
  pnpm-lock.yaml
Labels: evm, xdefi

#327 chore: fixes getBalance xdefi for all evm
  .changeset/smart-meals-promise.md
  packages/wallets/xdefi/src/helpers.ts
Labels: xdefi

#332 fix: avax eth tx type enum
  .changeset/wild-seahorses-greet.md
  packages/swapkit/types/src/commonTypes.ts
Labels: types

#335 Fix bsc min amount
  .changeset/dull-meals-impress.md
  packages/swapkit/swapkit-entities/src/entities/assetAmount.ts
Labels: core

#337 fix: thorchain pubkey for ledger
  .changeset/early-snails-wink.md
  packages/wallets/ledger/src/clients/thorchain/index.ts
  packages/wallets/ledger/src/ledger.ts
Labels: ledger
