Repository thorswap/SwapKit, pull requests merged in 2023-04, with the labels that each got.

#20 docs: setup example playground
  .github/labeler.yml
  README.md
  apps/vite-playground/index.html
  apps/vite-playground/package.json
  apps/vite-playground/public/vite.svg
  apps/vite-playground/src/App.tsx
  apps/vite-playground/src/main.tsx
  apps/vite-playground/tsconfig.json
  apps/vite-playground/tsconfig.node.json
  apps/vite-playground/vite.config.ts
  internal/eslint-config-thorswap/index.js
  internal/generator/template/library/package.json
  internal/helpers/package.json
  package.json
  packages/keystore/README.md
  packages/keystore/package.json
  packages/keystore/src/walletMethods.ts
  packages/ledger/README.md
  packages/ledger/package.json
  packages/swapkit-core/package.json
  packages/swapkit-entities/package.json
  packages/swapkit-explorers/README.md
  packages/swapkit-explorers/package.json
  packages/toolbox-cosmos/package.json
  packages/toolbox-cosmos/src/toolbox/thorchain.ts
  packages/toolbox-evm/package.json
  packages/toolbox-utxo/README.md
  packages/toolbox-utxo/package.json
  packages/types/package.json
  packages/walletconnect/README.md
  packages/walletconnect/package.json
  packages/web-extensions/README.md
  packages/web-extensions/package.json
  packages/web-extensions/src/xdefiWallet/helpers.ts
  turbo.json
  yarn.lock
Labels: core, evm, utxo, cosmos, wc, web-ext, types, ledger, keystore

#22 chore: reduce and remove unused methods on entities
  packages/swapkit-core/src/client/core.ts
  packages/swapkit-entities/src/entities/amount.ts
  packages/swapkit-entities/src/entities/asset.ts
  packages/swapkit-entities/src/entities/assetAmount.ts
  packages/swapkit-entities/src/entities/constants.ts
  packages/swapkit-entities/src/entities/percent.ts
  packages/swapkit-entities/src/entities/pool.ts
  packages/swapkit-entities/src/entities/price.ts
  packages/swapkit-entities/src/entities/synth.ts
  packages/toolbox-cosmos/src/binanceUtils/utils.ts
  packages/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolbox-evm/src/api/covalentApi.ts
  packages/toolbox-evm/src/api/eth/EthereumHybridApi.ts
  packages/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolbox-evm/src/toolbox/avax.ts
  packages/toolbox-evm/src/toolbox/bsc.ts
  packages/toolbox-evm/src/toolbox/eth.ts
  packages/toolbox-utxo/src/toolbox/BaseUTXOToolbox.ts
  packages/toolbox-utxo/src/utils.ts
  packages/types/src/asset.ts
  packages/web-extensions/src/xdefiWallet/helpers.ts
Labels: core, evm, utxo, cosmos, web-ext, types

#28 Fix importing multisig tx
  .changeset/odd-bees-yawn.md
  packages/toolbox-cosmos/src/toolbox/thorchain.ts
Labels: cosmos

#31 Fix: return value for TWT ETH signTransaction method
  .changeset/fresh-trainers-burn.md
  packages/walletconnect/src/walletconnect.ts
Labels: wc

#30 Fix: brave browser ETH wallet detection
  .changeset/nervous-queens-tan.md
  packages/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
Labels: evm

#34 fix: bech32 exports
  .changeset/serious-cooks-explode.md
  packages/ledger/src/clients/binance/helpers.ts
  packages/ledger/src/clients/thorchain/lib.ts
  packages/toolbox-cosmos/src/toolbox/binance.ts
Labels: cosmos, ledger

#45 fix: use json rpc provider to avax
  .changeset/beige-pears-boil.md
  apps/vite-playground/src/swapKitClient.ts
  packages/toolbox-evm/src/api/covalentApi.ts
  packages/toolbox-evm/src/toolbox/avax.ts
  packages/web-extensions/src/evmWallet/helpers.ts
  packages/web-extensions/src/evmWallet/index.ts
  packages/web-extensions/src/evmWallet/walletMethods.ts
  packages/web-extensions/src/evmWallet/walletMethods/avalanche.ts
  packages/web-extensions/src/evmWallet/walletMethods/binancesmartchain.ts
  packages/web-extensions/src/evmWallet/walletMethods/ethereum.ts
  packages/web-extensions/src/evmWallet/walletMethods/helpers/getWebWallet.ts
  packages/web-extensions/src/evmWallet/walletMethods/helpers/methodWrappers.ts
  packages/web-extensions/src/evmWallet/walletMethods/helpers/networkManagement.ts
  packages/web-extensions/src/xdefiWallet/helpers.ts
Labels: docs, evm, web-ext

#51 Feature/add chain mapping (#51
  .changeset/modern-dogs-switch.md
  packages/types/src/network.ts
Labels: types

#55 feat: major wallet typing improvement (#55
  .changeset/fuzzy-crabs-jog.md
  packages/keystore/src/walletMethods.ts
  packages/ledger/src/ledger.ts
  packages/swapkit-core/package.json
  packages/swapkit-core/src/client/core.ts
  packages/swapkit-core/src/client/types.ts
  packages/toolbox-cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolbox-cosmos/src/toolbox/BaseCosmosToolbox.ts
  packages/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolbox-cosmos/src/toolbox/gaia.ts
  packages/toolbox-cosmos/src/toolbox/thorchain.ts
  packages/toolbox-evm/src/index.ts
  packages/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolbox-evm/src/types/clientTypes.ts
  packages/types/src/transactions.ts
  packages/types/src/wallet.ts
  packages/walletconnect/src/walletconnect.ts
  yarn.lock
Labels: core, evm, cosmos, wc, types, ledger, keystore

#59 fix: omit address when LP is assym rune deposit (#59
  .changeset/old-emus-matter.md
  .changeset/pre.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/ledger/CHANGELOG.md
  packages/ledger/package.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
  packages/swapkit-core/src/client/core.ts
  packages/swapkit-entities/CHANGELOG.md
  packages/swapkit-entities/package.json
  packages/swapkit-entities/src/helpers/memo.ts
  packages/toolbox-cosmos/CHANGELOG.md
  packages/toolbox-cosmos/package.json
  packages/toolbox-evm/CHANGELOG.md
  packages/toolbox-evm/package.json
  packages/toolbox-utxo/CHANGELOG.md
  packages/toolbox-utxo/package.json
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
Labels: core, evm, utxo, cosmos, wc, web-ext, ledger, keystore, release

#60 docs: setup keystore wallet on playground
  apps/vite-playground/package.json
  apps/vite-playground/src/WalletPicker.tsx
  apps/vite-playground/src/index.css
  apps/vite-playground/src/main.tsx
  apps/vite-playground/src/swapKitClient.ts
  apps/vite-playground/vite.config.ts
  yarn.lock
Labels: docs

#61 feat: trezor wallet
  .changeset/many-pens-battle.md
  .github/labeler.yml
  apps/vite-playground/package.json
  apps/vite-playground/src/WalletPicker.tsx
  apps/vite-playground/src/swapKitClient.ts
  internal/helpers/src/derivationPath.ts
  internal/helpers/src/index.ts
  package.json
  packages/ledger/src/clients/avalanche.ts
  packages/ledger/src/clients/binancesmartchain.ts
  packages/ledger/src/clients/bitcoin.ts
  packages/ledger/src/clients/bitcoincash.ts
  packages/ledger/src/clients/cosmos.ts
  packages/ledger/src/clients/dogecoin.ts
  packages/ledger/src/clients/ethereum.ts
  packages/ledger/src/clients/litecoin.ts
  packages/ledger/src/helpers/derivationPath.ts
  packages/swapkit-core/src/client/core.ts
  packages/swapkit-core/src/client/types.ts
  packages/toolbox-utxo/src/toolbox/BaseUTXOToolbox.ts
  packages/trezor/.eslintignore
  packages/trezor/.eslintrc
  packages/trezor/README.md
  packages/trezor/package.json
  packages/trezor/src/index.ts
  packages/trezor/src/signer/evm.ts
  packages/trezor/src/trezor.ts
  packages/trezor/tsconfig.json
  packages/trezor/vite.config.ts
  packages/types/src/wallet.ts
  yarn.lock
Labels: docs, core, utxo, types, ledger

#62 chore: bump deps
  .changeset/swift-yaks-rescue.md
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  apps/vite-playground/package.json
  internal/config/package.json
  internal/eslint-config-thorswap/package.json
  internal/generator/package.json
  internal/generator/template/library/package.json
  internal/helpers/package.json
  package.json
  packages/keystore/package.json
  packages/ledger/package.json
  packages/swapkit-api/package.json
  packages/swapkit-core/package.json
  packages/swapkit-entities/package.json
  packages/swapkit-explorers/package.json
  packages/toolbox-cosmos/package.json
  packages/toolbox-evm/package.json
  packages/toolbox-utxo/package.json
  packages/trezor/package.json
  packages/types/package.json
  packages/walletconnect/package.json
  packages/web-extensions/package.json
  yarn.lock
Labels: docs, core, evm, utxo, cosmos, wc, web-ext, types, ledger, keystore
