Repository thorswap/SwapKit, pull requests merged in 2023-08, with the labels that each got.

#229 feat: changes to evm calls
  .changeset/red-mice-fry.md
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/swapkit/swapkit-sdk/src/index.ts
  packages/toolboxes/toolbox-evm/src/__tests__/ethereum.test.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/toolbox-evm/src/types/clientTypes.ts
Labels: core, evm

#236 feat: add streaming swaps support
  README.md
  packages/swapkit/swapkit-api/src/types/quote.ts
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/swapkit/swapkit-core/src/client/types.ts
  packages/wallets/ledger/src/ledger.ts
Labels: core, ledger

#237 Feat/improve max sendable amount
  .changeset/pretty-cups-dance.md
  .changeset/rare-moose-train.md
  .changeset/wise-cups-help.md
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/swapkit/swapkit-core/vite.config.ts
  packages/toolboxes/toolbox-cosmos/src/cosmosSdkClient.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/util.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/thorchain.ts
  packages/toolboxes/toolbox-cosmos/src/types.ts
  packages/toolboxes/toolbox-cosmos/src/util.ts
  packages/toolboxes/toolbox-evm/src/helpers.ts
  packages/toolboxes/toolbox-evm/src/index.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/toolbox-evm/src/types/clientTypes.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/BaseUTXOToolbox.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/bch.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/btc.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/doge.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/ltc.ts
  packages/toolboxes/toolbox-utxo/src/types/common.ts
  packages/toolboxes/toolbox-utxo/src/utils.ts
Labels: core, evm, utxo, cosmos

#241 fix: evm call return value
  .changeset/mighty-beans-buy.md
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
Labels: evm

#242 fix: bug in previous merge
  .changeset/purple-forks-rhyme.md
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
Labels: evm

#244 chore: add private keys & signer handling for utxo & cosmos
  .changeset/late-bees-teach.md
  .vscode/settings.json
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/swapkit/types/src/commonTypes.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/BaseCosmosToolbox.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/gaia.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/thorchain.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/BaseUTXOToolbox.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/bch.ts
Labels: core, utxo, cosmos, types, maintenance

#247 Fix THORChain send on keystore
  .changeset/purple-camels-bake.md
  packages/toolboxes/toolbox-cosmos/src/toolbox/thorchain.ts
Labels: cosmos

#248 fix: trezor too many inputs bug
  .changeset/proud-ghosts-jump.md
  packages/swapkit/types/src/network.ts
  packages/wallets/trezor/src/trezor.ts
Labels: types, trezor

#249 fix: erc20 decimal bug
  .changeset/gentle-scissors-tickle.md
  packages/swapkit/swapkit-entities/src/entities/assetAmount.ts
Labels: core

#251 Add error code
  .changeset/dirty-bees-sparkle.md
  packages/swapkit/types/src/errors/types.ts
Labels: types

#253 chore: ensure recipient address exists and is valid
  .changeset/loud-coins-brake.md
  packages/swapkit/swapkit-api/src/types/quote.ts
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/swapkit/swapkit-core/src/client/types.ts
  packages/swapkit/types/src/commonTypes.ts
Labels: core, types

#256 Fix walletconnect signatures on walletconnect
  .changeset/gorgeous-cups-yawn.md
  packages/wallets/walletconnect/src/walletconnect.ts
Labels: wc

#257 fix: TC stagenet prc url
  .changeset/bright-geese-fetch.md
  packages/toolboxes/toolbox-cosmos/src/cosmosSdkClient.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/thorchain.ts
  packages/toolboxes/toolbox-cosmos/src/types.ts
Labels: cosmos

#259 feat: add saversApr to poolDetail
  .changeset/soft-lizards-bathe.md
  packages/swapkit/swapkit-entities/src/entities/pool.ts
Labels: core

#262 feat: add saversDepth and saversUnits properties
  .changeset/six-llamas-protect.md
  packages/swapkit/swapkit-entities/src/entities/pool.ts
Labels: core

#261 chore: error handling PoC
  internal/helpers/src/exceptions/SwapKitError.ts
  internal/helpers/src/exceptions/index.ts
  internal/helpers/src/exceptions/integrations.ts
  internal/helpers/src/index.ts
  internal/helpers/src/thorchain.ts
  packages/swapkit/swapkit-core/src/client/helpers.ts
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/swapkit/swapkit-core/src/client/types.ts
  packages/swapkit/types/src/network.ts
  packages/toolboxes/toolbox-cosmos/src/cosmosSdkClient.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/thorchain.ts
  packages/toolboxes/toolbox-cosmos/src/util.ts
  packages/wallets/walletconnect/src/walletconnect.ts
Labels: core, cosmos, wc, types

#265 feat: swap-in streaming swaps
  .changeset/unlucky-coins-scream.md
  .vscode/settings.json
  packages/swapkit/swapkit-core/src/aggregator/getSwapParams.ts
  packages/swapkit/swapkit-core/src/client/index.ts
Labels: core, maintenance

#269 Fix/earn withdraw
  .changeset/many-crews-attack.md
  packages/swapkit/swapkit-core/src/client/index.ts
Labels: core

#268 fix: vite-playground Send
  apps/vite-playground/src/Send/index.tsx
  package.json
Labels: docs

#267 Migrate THORChain toolbox to cosmjs
  .changeset/famous-pumas-impress.md
  .size-limit.js
  package.json
  packages/swapkit/swapkit-sdk/package.json
  packages/toolboxes/toolbox-cosmos/README.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-cosmos/src/cosmosClient.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/types/index.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/types/messages.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/util.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/BaseCosmosToolbox.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/gaia.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/thorchain.ts
  packages/toolboxes/toolbox-cosmos/vite.config.ts
  packages/wallets/evm-web3-wallets/README.md
  packages/wallets/keplr/README.md
  packages/wallets/ledger/README.md
  packages/wallets/ledger/package.json
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/ledger/vite.config.ts
  packages/wallets/trezor/README.md
  packages/wallets/walletconnect/README.md
  packages/wallets/walletconnect/package.json
  packages/wallets/walletconnect/src/walletconnect.ts
  packages/wallets/walletconnect/vite.config.ts
  packages/wallets/xdefi/README.md
  patches/sr25519-npm-0.2.0-c9939c5c8a.patch
  pnpm-lock.yaml
Labels: cosmos, wc, ledger

#272 fix: gas estimation for atom wallets that use auto estimation
  .changeset/pink-actors-knock.md
  packages/wallets/keplr/src/keplrWallet.ts
  packages/wallets/okx/src/helpers.ts
  packages/wallets/xdefi/src/walletHelpers.ts
Labels: xdefi, keplr

#273 Update walletconnect modal
  .changeset/weak-toes-jump.md
  apps/vite-playground/package.json
  packages/wallets/walletconnect/package.json
  packages/wallets/walletconnect/src/walletconnect.ts
  pnpm-lock.yaml
Labels: wc

#276 Feat/improve max balance params
  .changeset/quick-dragons-raise.md
  .changeset/smart-frogs-cheat.md
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/toolboxes/toolbox-evm/src/helpers.ts
  packages/toolboxes/toolbox-utxo/README.md
  packages/toolboxes/toolbox-utxo/package.json
  packages/toolboxes/toolbox-utxo/src/api/blockchairApi.ts
  packages/toolboxes/toolbox-utxo/src/index.ts
  packages/toolboxes/toolbox-utxo/src/modules.d.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/BaseUTXOToolbox.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/bch.ts
  packages/toolboxes/toolbox-utxo/src/types/common.ts
  packages/toolboxes/toolbox-utxo/src/utils.ts
  packages/toolboxes/toolbox-utxo/src/utils/coinselect.ts
  packages/toolboxes/toolbox-utxo/src/utils/index.ts
  packages/toolboxes/toolbox-utxo/src/utils/txSize.ts
  packages/toolboxes/toolbox-utxo/src/utils/utils.ts
  packages/wallets/ledger/src/ledger.ts
  pnpm-lock.yaml
Labels: core, evm, utxo, ledger

#279 feat: TC default approval
  .changeset/seven-carrots-deny.md
  packages/swapkit/swapkit-core/src/client/index.ts
Labels: core

#281 [Fix]: Use correct URL
  .changeset/modern-chicken-pay.md
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/util.ts
Labels: cosmos

#284 [Chore]: Move web multisig utils into toolbox
  .changeset/big-spies-cover.md
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/util.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/thorchain.ts
  packages/toolboxes/toolbox-cosmos/src/types.ts
Labels: cosmos

#283 feat: allow custom api client
  .changeset/chatty-avocados-happen.md
  packages/swapkit/types/src/network.ts
  packages/toolboxes/toolbox-cosmos/src/cosmosClient.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/gaia.ts
  packages/toolboxes/toolbox-utxo/src/api/blockchairApi.ts
  packages/toolboxes/toolbox-utxo/src/api/rpcApi.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/BaseUTXOToolbox.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/bch.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/btc.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/doge.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/ltc.ts
  packages/wallets/keystore/src/keystore.ts
  packages/wallets/keystore/src/walletMethods.ts
  packages/wallets/ledger/src/clients/binance/lib.ts
  packages/wallets/ledger/src/helpers/getLedgerTransport.ts
  packages/wallets/ledger/src/interfaces/EthereumLikeLedgerInterface.ts
  packages/wallets/ledger/src/interfaces/LedgerInterfaces.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/okx/src/helpers.ts
  packages/wallets/trezor/src/trezor.ts
  packages/wallets/xdefi/src/helpers.ts
Labels: utxo, cosmos, types, ledger, keystore, trezor, xdefi
