Repository thorswap/SwapKit, pull requests merged in 2023-12, with the labels that each got.

#434 UTXO type cleanup
  packages/wallets/keepkey/src/chains/utxo.ts
Labels: keepkey

#435 fix: ledger reconnect on action
  .changeset/polite-knives-report.md
  packages/wallets/ledger/src/clients/cosmos.ts
  packages/wallets/ledger/src/interfaces/EthereumLikeLedgerInterface.ts
  packages/wallets/ledger/src/interfaces/LedgerInterfaces.ts
Labels: ledger

#441 fix: xdefi provider
  .changeset/selfish-emus-wonder.md
  packages/wallets/xdefi/src/xdefiWallet.ts
Labels: xdefi

#457 fix: trezor connectio
  .changeset/chilled-beans-enjoy.md
  packages/wallets/trezor/src/trezor.ts
Labels: trezor

#460 fix: ledger app usage and short memo
  .changeset/nasty-adults-vanish.md
  packages/swapkit/helpers/src/helpers/memo.ts
  packages/wallets/ledger/src/clients/dogecoin.ts
  packages/wallets/ledger/src/interfaces/LedgerInterfaces.ts
Labels: ledger

#470 KeepKey integration refactor
  internal/playground/src/App.tsx
  internal/playground/src/WalletPicker.tsx
  packages/swapkit/core/src/client/index.ts
  packages/wallets/keepkey/src/chains/binance.ts
  packages/wallets/keepkey/src/chains/cosmos.ts
  packages/wallets/keepkey/src/chains/thorchain.ts
  packages/wallets/keepkey/src/chains/utxo.ts
  packages/wallets/keepkey/src/coins.ts
  packages/wallets/keepkey/src/helpers/coins.ts
  packages/wallets/keepkey/src/keepkey.ts
Labels: docs, keepkey

#482 fix: ledger bnb accounts
  .changeset/odd-mangos-play.md
  packages/wallets/ledger/src/clients/binance/index.ts
  packages/wallets/ledger/src/clients/binance/lib.ts
Labels: ledger

#485 Minor update to error codes
  .changeset/young-squids-study.md
  packages/swapkit/types/src/errors/displayMessages.ts
  packages/swapkit/types/src/errors/types.ts
Labels: types

#487 fix: wc2 reset session on new connect
  .changeset/sharp-phones-clean.md
  packages/wallets/wc/src/walletconnect.ts
Labels: wc

#489 fix: okx wallet connection + evm get balance
  .changeset/dull-birds-drum.md
  packages/wallets/evm-extensions/package.json
  packages/wallets/evm-extensions/src/evmWallet.ts
  packages/wallets/okx/src/helpers.ts
  pnpm-lock.yaml
Labels: evm-extensions

#503 fix: keplr transfer for atom
  .changeset/thirty-carrots-drum.md
  packages/wallets/keplr/src/keplrWallet.ts
Labels: keplr

#509 fix: trezor chain id
  .changeset/little-frogs-accept.md
  packages/wallets/trezor/src/signer/evm.ts
Labels: trezor

#515 feat: adds support for quote evm contract params
  .changeset/pretty-geckos-prove.md
  packages/swapkit/api/src/types/quote.ts
  packages/swapkit/core/src/client/index.ts
  packages/toolboxes/evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/evm/src/toolbox/bsc.ts
Labels: evm
