Repository thorswap/SwapKit, pull requests merged in 2023-05, with the labels that each got.

#69 Feat/add chain hex map
  .changeset/fuzzy-donuts-enjoy.md
  packages/swapkit-entities/src/entities/asset.ts
  packages/types/src/network.ts
Labels: core, types

#70 Fix walletconnect types
  .changeset/gentle-kiwis-give.md
  packages/swapkit-core/src/client/types.ts
  packages/types/src/wallet.ts
Labels: core, types

#72 Fix types
  .changeset/afraid-spoons-deliver.md
  packages/swapkit-core/src/client/core.ts
  packages/swapkit-core/src/client/types.ts
Labels: core

#74 Fix types
  .changeset/famous-items-study.md
  packages/swapkit-core/src/client/core.ts
  packages/walletconnect/src/walletconnect.ts
Labels: core, wc

#87 chore: add possibility to pass custom rpc & url from extend
  internal/helpers/vite.config.ts
  packages/keystore/src/keystore.ts
  packages/keystore/src/walletMethods.ts
  packages/ledger/src/ledger.ts
  packages/ledger/vite.config.ts
  packages/swapkit-api/src/api.ts
  packages/swapkit-core/src/client/index.ts
  packages/swapkit-core/src/client/types.ts
  packages/swapkit-core/vite.config.ts
  packages/swapkit-entities/vite.config.ts
  packages/swapkit-explorers/src/__tests__/index.test.ts
  packages/swapkit-explorers/vite.config.ts
  packages/toolbox-cosmos/src/toolbox/gaia.ts
  packages/toolbox-cosmos/vite.config.ts
  packages/toolbox-evm/src/provider.ts
  packages/toolbox-evm/src/toolbox/avax.ts
  packages/toolbox-evm/src/toolbox/bsc.ts
  packages/toolbox-evm/src/toolbox/eth.ts
  packages/toolbox-evm/vite.config.ts
  packages/toolbox-utxo/src/api/ApiClient.ts
  packages/toolbox-utxo/src/toolbox/bch.ts
  packages/toolbox-utxo/src/toolbox/btc.ts
  packages/toolbox-utxo/src/toolbox/doge.ts
  packages/toolbox-utxo/src/toolbox/ltc.ts
  packages/toolbox-utxo/vite.config.ts
  packages/trezor/src/trezor.ts
  packages/trustwallet/src/trustwallet.ts
  packages/trustwallet/vite.config.ts
  packages/types/src/commonTypes.ts
  packages/types/src/network.ts
  packages/types/vite.config.ts
  packages/walletconnect/src/walletconnect.ts
  packages/web-extensions/src/keplrWallet.ts
  packages/web-extensions/src/types.ts
  packages/web-extensions/src/xdefiWallet/helpers.ts
  packages/web-extensions/vite.config.ts
Labels: core, evm, utxo, cosmos, wc, web-ext, types, ledger, keystore, trezor, tw

#92 Feat/coinbase mobile
  .changeset/witty-mugs-drive.md
  apps/vite-playground/package.json
  apps/vite-playground/src/WalletPicker.tsx
  apps/vite-playground/src/swapKitClient.ts
  apps/vite-playground/vite.config.ts
  packages/walletconnect/package.json
  packages/walletconnect/src/helpers.ts
  packages/walletconnect/src/walletconnect.ts
  packages/web-extensions/src/evmWallet/index.ts
  yarn.lock
Labels: docs, wc, web-ext

#94 Add error codes and stack
  .changeset/dirty-pets-study.md
  packages/types/src/errors/apiError.ts
  packages/types/src/errors/types.ts
Labels: types

#98 fix: utxo xdefi transfer
  .changeset/lazy-houses-perform.md
  packages/web-extensions/src/xdefiWallet/helpers.ts
Labels: web-ext

#100 Small tweaks to ApiError
  .changeset/chilled-trains-wink.md
  packages/types/src/errors/types.ts
Labels: types

#102 chore: expose balance on getWalletByChain & save it to connected chain
  .changeset/cuddly-spoons-provide.md
  packages/swapkit-core/src/client/index.ts
Labels: core

#97 [LIB-61]: migrate Binance toolbox to cosmjs
  .changeset/fair-avocados-develop.md
  packages/keystore/src/keystore.ts
  packages/toolbox-cosmos/package.json
  packages/toolbox-cosmos/src/cosmosSdkClient.ts
  packages/toolbox-cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolbox-cosmos/src/types.ts
  yarn.lock
Labels: cosmos, keystore

#104 Fix: add toSynth method for Asset entity
  .changeset/plenty-singers-own.md
  packages/swapkit-entities/src/entities/asset.ts
Labels: core

#96 [LIB-36]: cleanup percent & amount helpers
  .changeset/many-seas-scream.md
  .changeset/pre.json
  .github/workflows/build-test-publish.yml
  apps/expo-playground/package.json
  apps/vite-playground/package.json
  internal/config/index.js
  internal/config/package.json
  internal/eslint-config-thorswap/package.json
  internal/generator/package.json
  internal/generator/template/library/package.json
  internal/helpers/package.json
  internal/helpers/src/__tests__/asset.test.ts
  internal/helpers/src/__tests__/derivationPath.test.ts
  internal/helpers/src/amount.ts
  internal/helpers/src/asset.ts
  internal/helpers/src/bigNumber.ts
  internal/helpers/src/index.ts
  package.json
  packages/keystore/package.json
  packages/ledger/package.json
  packages/swapkit-api/package.json
  packages/swapkit-core/package.json
  packages/swapkit-core/src/client/types.ts
  packages/swapkit-entities/package.json
  packages/swapkit-entities/src/entities/percent.ts
  packages/swapkit-entities/src/helpers/liquidity.ts
  packages/swapkit-entities/src/index.ts
  packages/swapkit-explorers/package.json
  packages/toolbox-cosmos/package.json
  packages/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolbox-cosmos/src/toolbox/thorchain.ts
  packages/toolbox-evm/package.json
  packages/toolbox-utxo/package.json
  packages/trezor/package.json
  packages/trustwallet/package.json
  packages/walletconnect/package.json
  packages/web-extensions/package.json
  pnpm-lock.yaml
  turbo.json
Labels: core, cosmos, maintenance

#110 fix: trezor signer
  .changeset/itchy-swans-battle.md
  packages/trezor/src/signer/evm.ts
  packages/trezor/src/trezor.ts
Labels: trezor

#112 chore: simplify evm apis
  .size-limit.js
  packages/toolboxes/toolbox-evm/src/api/covalentApi.ts
  packages/toolboxes/toolbox-evm/src/api/eth/EthereumHybridApi.ts
  packages/toolboxes/toolbox-evm/src/api/eth/ethplorerApi.ts
  packages/toolboxes/toolbox-evm/src/api/eth/index.ts
  packages/toolboxes/toolbox-evm/src/api/ethplorerApi.ts
  packages/toolboxes/toolbox-evm/src/api/index.ts
  packages/toolboxes/toolbox-evm/src/index.ts
  packages/toolboxes/toolbox-evm/src/toolbox/avax.ts
  packages/toolboxes/toolbox-evm/src/toolbox/bsc.ts
  packages/toolboxes/toolbox-evm/src/toolbox/eth.ts
Labels: evm

#114 Fix BNB getBalance
  .changeset/rotten-jeans-poke.md
  packages/toolboxes/toolbox-cosmos/src/toolbox/binance.ts
Labels: cosmos

#120 fix: getLedgerDevice method return vallue
  .changeset/blue-shrimps-march.md
  packages/wallets/ledger/src/helpers/getLedgerTransport.ts
Labels: ledger

#121 [LIB-62]: Migrate cosmos toolbox from cosmos-client/core to cosmjs
  .changeset/early-elephants-sleep.md
  packages/toolboxes/toolbox-cosmos/src/cosmosSdkClient.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/gaia.ts
  packages/toolboxes/toolbox-cosmos/src/types.ts
  packages/wallets/ledger/package.json
  packages/wallets/ledger/src/clients/cosmos.ts
  packages/wallets/ledger/src/interfaces/LedgerInterfaces.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/ledger/vite.config.ts
  pnpm-lock.yaml
Labels: cosmos, ledger
