Repository thorswap/SwapKit, pull requests merged in 2023-07, with the labels that each got.

#181 Add new providers errors
  .changeset/weak-beans-lie.md
  packages/swapkit/types/src/errors/displayMessages.ts
  packages/swapkit/types/src/errors/types.ts
Labels: types

#177 Feature/add arbitrum chain
  .changeset/early-bats-brush.md
  .changeset/shy-avocados-sip.md
  packages/swapkit/swapkit-core/src/client/helpers.ts
  packages/swapkit/swapkit-core/src/client/types.ts
  packages/swapkit/swapkit-entities/src/helpers/asset.ts
  packages/swapkit/swapkit-explorers/src/index.ts
  packages/swapkit/types/src/commonTypes.ts
  packages/swapkit/types/src/network.ts
  packages/toolboxes/toolbox-evm/src/index.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/toolbox-evm/src/toolbox/arb.ts
  packages/wallets/walletconnect/src/helpers.ts
Labels: core, evm, wc, types

#185 chore: bump dependencies
  .changeset/fast-fishes-attend.md
  apps/expo-playground/package.json
  apps/vite-playground/package.json
  internal/config/package.json
  internal/eslint-config-thorswap/package.json
  internal/generator/package.json
  internal/helpers/package.json
  package.json
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-explorers/package.json
  packages/swapkit/swapkit-sdk/package.json
  packages/swapkit/types/package.json
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/package.json
  packages/wallets/keystore/package.json
  packages/wallets/ledger/package.json
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/package.json
  pnpm-lock.yaml
Labels: core

#188 Remove TW
  .changeset/late-chefs-reflect.md
  .changeset/pre.json
  .github/labeler.yml
  .size-limit.js
  README.md
  apps/expo-playground/app/index.tsx
  apps/expo-playground/package.json
  apps/expo-playground/src/swapKitClient.ts
  apps/vite-playground/package.json
  apps/vite-playground/src/WalletPicker.tsx
  apps/vite-playground/vite.config.ts
  packages/swapkit/swapkit-core/README.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/swapkit/swapkit-sdk/package.json
  packages/swapkit/swapkit-sdk/src/index.ts
  packages/swapkit/types/src/commonTypes.ts
  packages/swapkit/types/src/wallet.ts
  packages/wallets/evm-web3-wallets/README.md
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/README.md
  packages/wallets/trustwallet/package.json
  packages/wallets/trustwallet/src/constants.ts
  packages/wallets/trustwallet/src/helpers.ts
  packages/wallets/trustwallet/src/index.ts
  packages/wallets/trustwallet/src/trustwallet.ts
  packages/wallets/trustwallet/src/types.ts
  packages/wallets/trustwallet/tsconfig.json
  packages/wallets/trustwallet/vite.config.ts
  pnpm-lock.yaml
Labels: docs, core, types, release, tw, maintenance

#168 Walletconnect 2.0
  .changeset/angry-grapes-fetch.md
  .size-limit.js
  apps/vite-playground/src/WalletPicker.tsx
  packages/swapkit/swapkit-sdk/src/index.ts
  packages/toolboxes/toolbox-cosmos/src/binanceUtils/amino/encoder.ts
  packages/toolboxes/toolbox-cosmos/src/binanceUtils/index.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolboxes/toolbox-evm/src/__tests__/ethereum.test.ts
  packages/toolboxes/toolbox-evm/src/toolbox/arb.ts
  packages/toolboxes/toolbox-evm/src/toolbox/avax.ts
  packages/toolboxes/toolbox-evm/src/toolbox/bsc.ts
  packages/toolboxes/toolbox-evm/src/toolbox/eth.ts
  packages/toolboxes/toolbox-evm/src/toolbox/matic.ts
  packages/toolboxes/toolbox-evm/src/toolbox/op.ts
  packages/wallets/ledger/src/clients/binance/helpers.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/walletconnect/README.md
  packages/wallets/walletconnect/package.json
  packages/wallets/walletconnect/src/helpers.ts
  packages/wallets/walletconnect/src/walletconnect.ts
  packages/wallets/walletconnect/vite.config.ts
  pnpm-lock.yaml
Labels: docs, evm, cosmos, wc, ledger

#192 Fix stagenet on Keystore THORChain
  packages/wallets/keystore/src/keystore.ts
Labels: keystore

#195 Feat/fix evm max approval
  .changeset/slow-singers-cry.md
  .npmrc
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-evm/src/index.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  pnpm-lock.yaml
Labels: evm

#197 chore: pass stagenet param to config
  apps/expo-playground/src/swapKitClient.ts
  apps/vite-playground/src/App.tsx
  apps/vite-playground/src/swapKitClient.ts
Labels: docs

#201 chore: remove unused walletconnect web3 provider
  .changeset/heavy-pianos-hear.md
  packages/wallets/walletconnect/package.json
  packages/wallets/walletconnect/src/index.ts
  pnpm-lock.yaml
Labels: wc

#200 chore: setup xdefi thorchain gaslimit
  .vscode/settings.json
  apps/expo-playground/package.json
  apps/vite-playground/package.json
  internal/config/package.json
  internal/eslint-config-thorswap/package.json
  internal/generator/package.json
  internal/helpers/package.json
  package.json
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-sdk/package.json
  packages/swapkit/types/package.json
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/package.json
  packages/wallets/keystore/package.json
  packages/wallets/keystore/src/walletMethods.ts
  packages/wallets/ledger/package.json
  packages/wallets/trezor/package.json
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/package.json
  packages/wallets/xdefi/src/evmMethods.ts
  packages/wallets/xdefi/src/helpers.ts
  packages/wallets/xdefi/src/index.ts
  packages/wallets/xdefi/src/types.ts
  packages/wallets/xdefi/src/walletHelpers.ts
  packages/wallets/xdefi/src/xdefiWallet.ts
  pnpm-lock.yaml
Labels: core, keystore, maintenance, xdefi

#203 chore: remove code related to kill switch
  .changeset/fuzzy-mayflies-pretend.md
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/swapkit/swapkit-entities/src/entities/asset.ts
  packages/swapkit/swapkit-entities/src/helpers/__tests__/memo.test.ts
  packages/swapkit/swapkit-entities/src/helpers/memo.ts
  packages/swapkit/types/src/thorchain.ts
  packages/wallets/keystore/src/keystore.ts
  packages/wallets/keystore/src/walletMethods.ts
Labels: core, types, keystore

#205 Feat/okx wallet pt2
  .changeset/afraid-rivers-repair.md
  apps/vite-playground/package.json
  apps/vite-playground/src/WalletPicker.tsx
  apps/vite-playground/src/swapKitClient.ts
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/toolboxes/toolbox-evm/src/helpers.ts
  packages/toolboxes/toolbox-evm/src/toolbox/eth.ts
  packages/wallets/okx/package.json
  packages/wallets/okx/src/helpers.ts
  packages/wallets/okx/vite.config.ts
  pnpm-lock.yaml
Labels: docs, core, evm

#207 chore: migrate parts of types to one place
  apps/expo-playground/package.json
  apps/vite-playground/package.json
  apps/vite-playground/src/WalletPicker.tsx
  internal/config/package.json
  internal/eslint-config-thorswap/package.json
  internal/generator/package.json
  internal/helpers/src/__tests__/asset.test.ts
  internal/helpers/src/asset.ts
  package.json
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/swapkit/swapkit-core/src/client/types.ts
  packages/swapkit/types/src/asset.ts
  packages/swapkit/types/src/commonTypes.ts
  packages/swapkit/types/src/network.ts
  packages/swapkit/types/src/transactions.ts
  packages/swapkit/types/src/wallet.ts
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-cosmos/src/binanceUtils/types.ts
  packages/toolboxes/toolbox-cosmos/src/cosmosSdkClient.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/util.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/gaia.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/toolbox-evm/src/toolbox/arb.ts
  packages/toolboxes/toolbox-evm/src/toolbox/avax.ts
  packages/toolboxes/toolbox-evm/src/toolbox/bsc.ts
  packages/toolboxes/toolbox-evm/src/toolbox/eth.ts
  packages/toolboxes/toolbox-evm/src/toolbox/matic.ts
  packages/toolboxes/toolbox-evm/src/toolbox/op.ts
  packages/toolboxes/toolbox-evm/src/types/clientTypes.ts
  packages/toolboxes/toolbox-utxo/package.json
  packages/toolboxes/toolbox-utxo/src/api/blockchairApi.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/BaseUTXOToolbox.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/bch.ts
  packages/toolboxes/toolbox-utxo/src/types/blockchairApiTypes.ts
  packages/toolboxes/toolbox-utxo/src/types/common.ts
  packages/toolboxes/toolbox-utxo/src/utils.ts
  packages/wallets/keplr/src/keplrWallet.ts
  packages/wallets/walletconnect/package.json
  pnpm-lock.yaml
Labels: docs, core, evm, utxo, cosmos, types, keplr

#214 fix: mm like wallets network switch
  .changeset/light-panthers-itch.md
  packages/toolboxes/toolbox-evm/src/helpers.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/toolbox-evm/src/toolbox/avax.ts
  packages/toolboxes/toolbox-evm/src/toolbox/bsc.ts
Labels: evm

#215 Fix/mm swap linting
  .changeset/large-socks-heal.md
  packages/swapkit/swapkit-core/src/client/__tests__/helpers.test.ts
  packages/swapkit/swapkit-core/src/client/helpers.ts
  packages/toolboxes/toolbox-evm/src/helpers.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/toolbox-evm/src/toolbox/avax.ts
  packages/toolboxes/toolbox-evm/src/toolbox/bsc.ts
  packages/wallets/okx/src/helpers.ts
  packages/wallets/xdefi/src/helpers.ts
Labels: core, evm, xdefi

#217 Chore/change walletconnect icon url
  .changeset/unlucky-monkeys-rest.md
  packages/wallets/walletconnect/src/constants.ts
Labels: wc

#230 Move THORChain transactions to cosmjs
  .changeset/eleven-bobcats-add.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-cosmos/src/cosmosSdkClient.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/util.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/BaseCosmosToolbox.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/gaia.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/thorchain.ts
  packages/toolboxes/toolbox-cosmos/src/types.ts
  packages/toolboxes/toolbox-cosmos/src/util.ts
  packages/wallets/keystore/src/keystore.ts
  packages/wallets/keystore/src/walletMethods.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/walletconnect/src/walletconnect.ts
  pnpm-lock.yaml
Labels: cosmos, wc, ledger, keystore
