Repository thorswap/SwapKit, pull requests merged in 2023-10, with the labels that each got.

#342 Add address error messages
  .changeset/curvy-beans-smoke.md
  packages/swapkit/types/src/errors/displayMessages.ts
  packages/swapkit/types/src/errors/types.ts
Labels: types

#345 feat: fixes tc router expiry from ms to s
  .changeset/breezy-jars-mate.md
  packages/swapkit/swapkit-core/src/client/index.ts
Labels: core

#347 feat: fix expiration
  .changeset/neat-cups-teach.md
  packages/swapkit/swapkit-core/src/aggregator/getSwapParams.ts
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/swapkit/swapkit-core/src/client/types.ts
Labels: core

#350 Change Maya explorer
  packages/swapkit/types/src/network.ts
Labels: types

#352 Fix/evm signer call
  .changeset/many-cycles-watch.md
  packages/toolboxes/evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/evm/src/types/clientTypes.ts
  packages/wallets/ledger/src/interfaces/EthereumLikeLedgerInterface.ts
  packages/wallets/trezor/src/signer/evm.ts
Labels: evm, ledger, trezor

#360 [FEAT]: KujiraToolbox
  packages/swapkit/types/src/network.ts
  packages/toolboxes/cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/cosmos/src/toolbox/BaseCosmosToolbox.ts
  packages/toolboxes/cosmos/src/toolbox/kujira.ts
  packages/toolboxes/cosmos/src/types.ts
  packages/toolboxes/cosmos/src/util.ts
  packages/wallets/keystore/src/keystore.ts
Labels: cosmos, types, keystore

#361 patch Chillios Working branch for KK
  .changeset/fluffy-penguins-worry.md
  .changeset/kind-tools-trade.md
  .changeset/pre.json
  .changeset/pretty-walls-flow.md
  internal/config/index.js
  internal/playground/CHANGELOG.md
  internal/playground/index.html
  internal/playground/src/WalletPicker.tsx
  internal/playground/src/swapKitClient.ts
  packages/swapkit/core/CHANGELOG.md
  packages/swapkit/core/package.json
  packages/swapkit/core/src/client/index.ts
  packages/swapkit/core/src/client/types.ts
  packages/swapkit/helpers/src/helpers/asset.ts
  packages/swapkit/sdk/CHANGELOG.md
  packages/swapkit/sdk/package.json
  packages/swapkit/types/src/network.ts
  packages/toolboxes/cosmos/src/cosmosClient.ts
  packages/toolboxes/cosmos/src/index.ts
  packages/toolboxes/cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/cosmos/src/toolbox/BaseCosmosToolbox.ts
  packages/toolboxes/cosmos/src/toolbox/kujira.ts
  packages/toolboxes/cosmos/src/types.ts
  packages/toolboxes/cosmos/src/util.ts
  packages/toolboxes/utxo/CHANGELOG.md
  packages/toolboxes/utxo/package.json
  packages/toolboxes/utxo/src/api/blockchairApi.ts
  packages/toolboxes/utxo/src/toolbox/BaseUTXOToolbox.ts
  packages/wallets/keepkey/package.json
  packages/wallets/keepkey/src/chains/binance.ts
  packages/wallets/keepkey/src/chains/cosmos.ts
  packages/wallets/keepkey/src/chains/evm.ts
  packages/wallets/keepkey/src/chains/thorchain.ts
  packages/wallets/keepkey/src/chains/utxo.ts
  packages/wallets/keepkey/src/coins.ts
  packages/wallets/keepkey/src/keepkey.ts
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/keystore/src/helpers.ts
  packages/wallets/keystore/src/keystore.ts
  packages/wallets/keystore/vite.config.ts
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/ledger/src/clients/thorchain/lib.ts
  packages/wallets/ledger/vite.config.ts
  packages/wallets/okx/CHANGELOG.md
  packages/wallets/okx/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
  pnpm-lock.yaml
Labels: docs, utxo, cosmos, types, ledger, keystore, release, keepkey

#363 fix: utxo parts & include node buildins for browser
  .changeset/clean-pets-doubt.md
  .changeset/mean-bulldogs-prove.md
  .changeset/pre.json
  internal/config/index.js
  internal/config/package.json
  internal/playground/CHANGELOG.md
  internal/playground/index.html
  internal/playground/package.json
  internal/playground/src/App.tsx
  internal/playground/src/Loan/index.tsx
  internal/playground/src/Multisig/index.tsx
  internal/playground/src/Send/index.tsx
  packages/toolboxes/utxo/src/toolbox/BaseUTXOToolbox.ts
  packages/wallets/keystore/src/helpers.ts
  pnpm-lock.yaml
Labels: docs, utxo, keystore

#368 fix: evm swaps & utxo connection api key
  .changeset/happy-bulldogs-dance.md
  .changeset/quiet-olives-hope.md
  .size-limit.js
  internal/playground/src/App.tsx
  internal/playground/src/swapKitClient.ts
  packages/swapkit/core/src/client/index.ts
  packages/swapkit/helpers/src/modules/__tests__/swapKitNumber.test.ts
  packages/swapkit/helpers/src/modules/bigIntArithmetics.ts
  packages/swapkit/types/src/commonTypes.ts
  packages/toolboxes/evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/utxo/src/api/blockchairApi.ts
  packages/wallets/keystore/src/keystore.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/okx/src/helpers.ts
  packages/wallets/okx/src/okxWallet.ts
  packages/wallets/okx/src/types.ts
  packages/wallets/trezor/src/trezor.ts
  packages/wallets/xdefi/src/xdefiWallet.ts
Labels: docs, evm, utxo, types, ledger, keystore, trezor, xdefi
