Repository thorswap/SwapKit, pull requests merged in 2023-11, with the labels that each got.

#377 Update TC mainnet ID for Wallet Connect
  packages/wallets/wc/src/constants.ts
Labels: wc

#387 fix: xdefi balances & tc transfer
  .changeset/quick-buckets-wait.md
  internal/playground/src/App.tsx
  packages/swapkit/core/src/client/index.ts
  packages/toolboxes/evm/src/helpers.ts
  packages/wallets/xdefi/src/walletHelpers.ts
  packages/wallets/xdefi/src/xdefiWallet.ts
Labels: docs, evm, xdefi

#389 Fix/lp calculation
  .changeset/shiny-guests-train.md
  packages/swapkit/core/src/client/index.ts
  packages/swapkit/helpers/src/helpers/liquidity.ts
  packages/swapkit/helpers/src/modules/bigIntArithmetics.ts
  packages/toolboxes/cosmos/src/cosmosClient.ts
  packages/toolboxes/cosmos/src/thorchainUtils/util.ts
  packages/toolboxes/cosmos/src/toolbox/binance.ts
  packages/toolboxes/cosmos/src/toolbox/thorchain.ts
  packages/toolboxes/evm/src/__tests__/ethereum.test.ts
  packages/toolboxes/evm/src/helpers.ts
  packages/toolboxes/evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/utxo/src/toolbox/bch.ts
  packages/wallets/keplr/src/keplrWallet.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/trezor/src/signer/evm.ts
  packages/wallets/wc/src/walletconnect.ts
  packages/wallets/xdefi/src/walletHelpers.ts
Labels: evm, utxo, cosmos, wc, ledger, trezor, xdefi, keplr

#391 fix: covalent api balance mapping
  .changeset/metal-ligers-divide.md
  packages/toolboxes/evm/src/api/covalentApi.ts
Labels: evm

#399 feat: fixes coinselect bug
  .changeset/pretty-pillows-sniff.md
  packages/toolboxes/utxo/src/utils/coinselect.ts
  packages/toolboxes/utxo/src/utils/txSize.ts
Labels: utxo

#404 Add OP, ARB & Matic to other wallets
  .changeset/gorgeous-camels-teach.md
  internal/playground/src/WalletPicker.tsx
  packages/toolboxes/cosmos/src/index.ts
  packages/toolboxes/cosmos/src/toolbox/getToolboxByChain.ts
  packages/toolboxes/evm/src/index.ts
  packages/toolboxes/evm/src/toolbox/getToolboxByChain.ts
  packages/toolboxes/utxo/src/index.ts
  packages/toolboxes/utxo/src/toolbox/getToolboxByChain.ts
  packages/wallets/okx/src/helpers.ts
  packages/wallets/okx/src/okxWallet.ts
  packages/wallets/trezor/src/trezor.ts
  packages/wallets/wc/src/constants.ts
  packages/wallets/wc/src/helpers.ts
  packages/wallets/wc/src/walletconnect.ts
  packages/wallets/xdefi/src/walletHelpers.ts
  packages/wallets/xdefi/src/xdefiWallet.ts
Labels: docs, evm, utxo, cosmos, wc, trezor, xdefi

#418 Chore/move nightly fixes to dev
  .changeset/curvy-rockets-sell.md
  packages/toolboxes/cosmos/src/toolbox/gaia.ts
  packages/toolboxes/cosmos/src/types.ts
  packages/toolboxes/utxo/src/api/blockchairApi.ts
  packages/wallets/ledger/src/clients/bitcoin.ts
  packages/wallets/ledger/src/clients/litecoin.ts
  packages/wallets/ledger/src/helpers/derivationPath.ts
  packages/wallets/ledger/src/interfaces/LedgerInterfaces.ts
Labels: utxo, cosmos, ledger

#421 fix: utxo broadcast content type
  .changeset/proud-adults-peel.md
  packages/toolboxes/utxo/src/api/rpcApi.ts
Labels: utxo
