Repository thorswap/SwapKit, pull requests merged in 2023-06, with the labels that each got.

#122 fix: build issue
  .changeset/afraid-toys-sit.md
  .changeset/kind-moons-retire.md
  .changeset/shy-bugs-unite.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-cosmos/src/cosmosSdkClient.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/gaia.ts
  packages/toolboxes/toolbox-cosmos/src/types.ts
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/keystore/package.json
  packages/wallets/keystore/src/keystore.ts
  packages/wallets/ledger/package.json
  packages/wallets/ledger/src/clients/cosmos.ts
  packages/wallets/walletconnect/package.json
  packages/wallets/walletconnect/vite.config.ts
  pnpm-lock.yaml
Labels: cosmos, ledger, keystore

#124 Feat/bsc toolbox gas fixes
  .changeset/light-starfishes-walk.md
  .size-limit.js
  packages/swapkit/types/src/transactions.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/toolbox-evm/src/toolbox/bsc.ts
  packages/toolboxes/toolbox-evm/src/types/clientTypes.ts
  packages/wallets/trezor/src/signer/evm.ts
  packages/wallets/xdefi/src/helpers.ts
Labels: evm, types, trezor, xdefi

#126 feat: adds bsc hex value chain id
  .changeset/dull-paws-end.md
  .changeset/slow-beers-mate.md
  apps/vite-playground/src/WalletPicker.tsx
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/swapkit/types/src/network.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/gaia.ts
  packages/toolboxes/toolbox-evm/src/api/covalentApi.ts
  packages/toolboxes/toolbox-evm/src/toolbox/bsc.ts
  packages/wallets/evm-web3-wallets/src/walletMethods.ts
Labels: docs, core, evm, cosmos, types, evm-web3-wallets

#133 fix: core, evm and xdefoi
  .changeset/soft-phones-cheat.md
  apps/expo-playground/src/swapKitClient.ts
  apps/vite-playground/src/App.tsx
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/wallets/xdefi/src/helpers.ts
Labels: docs, core, evm, xdefi

#137 Allow custom memos in open/close loan
  .changeset/proud-bears-laugh.md
  packages/swapkit/swapkit-core/src/client/index.ts
Labels: core

#140 feat: fix runtime issue evm wallets
  .changeset/plenty-tables-hug.md
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
Labels: core, evm

#141 feat: fix lint
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
Labels: core, evm

#143 feat: fixes trezor eth and improves typing
  .changeset/thin-zebras-lick.md
  packages/wallets/trezor/src/signer/evm.ts
  packages/wallets/trezor/src/trezor.ts
Labels: trezor

#113 chore: simplify utxo apis
  .changeset/pink-pens-smile.md
  internal/config/package.json
  packages/toolboxes/toolbox-utxo/package.json
  packages/toolboxes/toolbox-utxo/src/api/ApiClient.ts
  packages/toolboxes/toolbox-utxo/src/api/blockchair-api.ts
  packages/toolboxes/toolbox-utxo/src/api/blockchairApi.ts
  packages/toolboxes/toolbox-utxo/src/api/clients.ts
  packages/toolboxes/toolbox-utxo/src/api/helpers.ts
  packages/toolboxes/toolbox-utxo/src/api/index.ts
  packages/toolboxes/toolbox-utxo/src/index.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/BaseUTXOToolbox.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/bch.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/btc.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/doge.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/ltc.ts
  packages/toolboxes/toolbox-utxo/src/types/bitcoincashjs-types.ts
  packages/toolboxes/toolbox-utxo/src/types/blockchairApiTypes.ts
  packages/toolboxes/toolbox-utxo/src/types/common.ts
  packages/toolboxes/toolbox-utxo/src/types/commonApiTypes.ts
  packages/toolboxes/toolbox-utxo/src/types/index.ts
  packages/toolboxes/toolbox-utxo/src/utils.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/trezor/src/trezor.ts
  pnpm-lock.yaml
Labels: utxo, ledger, trezor

#146 fix: utxo api key check trezor
  .changeset/tender-ducks-brake.md
  packages/wallets/trezor/src/trezor.ts
Labels: trezor

#148 fix: utxo api paths
  .changeset/yellow-lions-drive.md
  packages/toolboxes/toolbox-utxo/src/api/blockchairApi.ts
Labels: utxo

#150 fix: utxo blockchair url
  .changeset/curvy-camels-approve.md
  packages/toolboxes/toolbox-utxo/src/api/blockchairApi.ts
Labels: utxo

#152 fix: trezor getAddress call and cache
  .changeset/kind-emus-burn.md
  packages/wallets/trezor/src/signer/evm.ts
  packages/wallets/trezor/src/trezor.ts
Labels: trezor

#153 fix: trezor getAddress lint
  .changeset/pre.json
  internal/config/index.js
  internal/config/package.json
  internal/generator/package.json
  packages/swapkit/swapkit-core/package.json
  packages/toolboxes/toolbox-cosmos/package.json
  packages/wallets/trezor/package.json
  packages/wallets/trezor/src/signer/evm.ts
  packages/wallets/trezor/src/trezor.ts
  pnpm-lock.yaml
Labels: core, trezor

#155 fix: walletmethod strucutre
  .changeset/pink-dolphins-rhyme.md
  packages/wallets/trezor/src/trezor.ts
Labels: trezor

#159 Update to API Errors
  .changeset/shaggy-phones-exercise.md
  packages/swapkit/types/src/errors/apiError.ts
  packages/swapkit/types/src/errors/displayMessages.ts
  packages/swapkit/types/src/errors/types.ts
Labels: types

#161 feat: adaptable script type for derviation paths
  .changeset/calm-fishes-camp.md
  packages/wallets/trezor/src/trezor.ts
Labels: trezor

#163 fix: trezor bch fix
  .changeset/fuzzy-feet-visit.md
  packages/swapkit/types/src/network.ts
  packages/wallets/ledger/src/helpers/derivationPath.ts
  packages/wallets/trezor/package.json
  packages/wallets/trezor/src/trezor.ts
  pnpm-lock.yaml
Labels: types, ledger, trezor

#166 Fix/bch quote address format
  .changeset/famous-mirrors-talk.md
  .changeset/fast-students-appear.md
  packages/swapkit/swapkit-api/src/api.ts
  packages/wallets/trezor/src/trezor.ts
Labels: trezor

#169 Walletconnect 2.0
  .changeset/blue-ads-bake.md
  apps/expo-playground/src/swapKitClient.ts
  apps/vite-playground/package.json
  apps/vite-playground/src/App.tsx
  apps/vite-playground/src/Send/index.tsx
  apps/vite-playground/src/WalletPicker.tsx
  apps/vite-playground/src/swapKitClient.ts
  packages/wallets/walletconnect/package.json
  packages/wallets/walletconnect/src/constants.ts
  packages/wallets/walletconnect/src/helpers.ts
  packages/wallets/walletconnect/src/walletconnect.ts
  pnpm-lock.yaml
Labels: docs, wc

#171 Make covalent API key optional for type compatibility
  .changeset/tiny-chicken-prove.md
  packages/wallets/walletconnect/src/walletconnect.ts
Labels: wc

#173 Make walletconnect project id optional
  .changeset/rotten-experts-flash.md
  packages/wallets/walletconnect/src/walletconnect.ts
Labels: wc

#175 Add signer to walletconnect
  .changeset/friendly-files-impress.md
  packages/wallets/walletconnect/package.json
  packages/wallets/walletconnect/src/constants.ts
  packages/wallets/walletconnect/src/evmSigner.ts
  packages/wallets/walletconnect/src/helpers.ts
  packages/wallets/walletconnect/src/walletconnect.ts
  pnpm-lock.yaml
Labels: wc

#179 Minor updates to error modules and types
  .changeset/strong-pets-bow.md
  packages/swapkit/types/src/errors/displayMessages.ts
  packages/swapkit/types/src/errors/types.ts
Labels: types
