Repository thorswap/SwapKit, pull requests merged in 2024-05, with the labels that each got.

#772 fix: cosmjs gas limit estimation
  .changeset/heavy-berries-attend.md
  packages/wallets/keplr/src/index.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/xdefi/src/walletHelpers.ts
Labels: ledger, xdefi, keplr

#775 fix: bugs
  .changeset/friendly-countries-call.md
  packages/toolboxes/cosmos/src/thorchainUtils/addressFormat.ts
  packages/wallets/ledger/package.json
  packages/wallets/ledger/src/clients/cosmos.ts
Labels: cosmos, ledger

#777 feat: fixes but and adds multiselect to keplr
  .changeset/strong-mugs-melt.md
  packages/wallets/keplr/src/index.ts
Labels: keplr

#787 declare module in toolbox-cosmos
  .changeset/thirty-items-burn.md
  packages/toolboxes/cosmos/src/modules.d.ts
Labels: cosmos

#789 Option to return ApiV1 errors without throwing
  .changeset/orange-beds-act.md
  bun.lockb
  packages/swapkit/api/package.json
  packages/swapkit/api/src/thorswapApi/__tests__/requestClient.test.ts
  packages/swapkit/api/src/thorswapApi/endpoints.ts
  packages/swapkit/api/src/thorswapApi/types.ts
  packages/swapkit/helpers/src/modules/requestClient.ts
  packages/swapkit/helpers/src/types/errors/apiV1.ts
  packages/toolboxes/cosmos/src/modules.d.ts
  playgrounds/nextjs/package.json
Labels: cosmos
