Repository thorswap/SwapKit, pull requests merged in 2024-10, with the labels that each got.

#1024 Fix/chainflip funding
  .changeset/old-books-walk.md
  .changeset/wet-tigers-guess.md
  packages/plugins/chainflip/src/broker.ts
  packages/toolboxes/evm/src/toolbox/EVMToolbox.ts
Labels: evm

#990 Add BASE to more wallets
  packages/wallets/ledger/src/clients/evm.ts
  packages/wallets/ledger/src/helpers/getLedgerAddress.ts
  packages/wallets/ledger/src/helpers/getLedgerClient.ts
  packages/wallets/ledger/src/helpers/ledgerSupportedChains.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/ledger/src/types.ts
  packages/wallets/okx/src/helpers.ts
  packages/wallets/talisman/src/helpers.ts
  packages/wallets/talisman/src/talisman.ts
  packages/wallets/trezor/src/index.ts
  packages/wallets/wc/src/constants.ts
  packages/wallets/wc/src/helpers.ts
  playgrounds/vite/src/WalletPicker.tsx
Labels: mobile-wallet, hardware-wallet, browser-extensions

#1033 chore: import modules async or inline
  packages/plugins/chainflip/package.json
  packages/plugins/evm/package.json
  packages/plugins/radix/package.json
  packages/plugins/thorchain/package.json
  packages/swapkit/api/package.json
  packages/swapkit/contracts/package.json
  packages/swapkit/core/package.json
  packages/swapkit/core/src/client.ts
  packages/swapkit/core/src/helpers/walletAddressValidator.ts
  packages/swapkit/core/src/index.ts
  packages/swapkit/helpers/package.json
  packages/swapkit/sdk/package.json
  packages/swapkit/tokens/package.json
  packages/swapkit/wallets/package.json
  packages/toolboxes/cosmos/package.json
  packages/toolboxes/evm/package.json
  packages/toolboxes/radix/package.json
  packages/toolboxes/solana/package.json
  packages/toolboxes/substrate/package.json
  packages/toolboxes/utxo/package.json
  packages/wallets/coinbase/package.json
  packages/wallets/coinbase/src/signer.ts
  packages/wallets/evm-extensions/package.json
  packages/wallets/evm-extensions/src/index.ts
  packages/wallets/exodus/package.json
  packages/wallets/keepkey/package.json
  packages/wallets/keplr/package.json
  packages/wallets/keystore/package.json
  packages/wallets/ledger/package.json
  packages/wallets/ledger/src/clients/utxo.ts
  packages/wallets/okx/package.json
  packages/wallets/okx/src/helpers.ts
  packages/wallets/phantom/package.json
  packages/wallets/phantom/src/index.ts
  packages/wallets/polkadotjs/package.json
  packages/wallets/radix/package.json
  packages/wallets/talisman/package.json
  packages/wallets/talisman/src/helpers.ts
  packages/wallets/trezor/package.json
  packages/wallets/wc/package.json
  packages/wallets/xdefi/package.json
  packages/wallets/xdefi/src/walletHelpers.ts
  tools/builder/index.ts
Labels: core, evm, utxo, cosmos, radix, mobile-wallet, keystore, hardware-wallet, substrate, browser-extensions, solana, api, tokens

#1028 Add KeepKey Browser Extension (KeepKey-BEX) Support
  bun.lockb
  packages/swapkit/helpers/src/helpers/web3wallets.ts
  packages/swapkit/helpers/src/modules/swapKitError.ts
  packages/swapkit/helpers/src/types/wallet.ts
  packages/swapkit/wallets/package.json
  packages/swapkit/wallets/src/index.ts
  packages/wallets/keepkey-bex/build.ts
  packages/wallets/keepkey-bex/package.json
  packages/wallets/keepkey-bex/src/index.ts
  packages/wallets/keepkey-bex/src/keepkeyWallet.ts
  packages/wallets/keepkey-bex/src/walletHelpers.ts
  packages/wallets/keepkey-bex/tsconfig.json
  playgrounds/vite/src/WalletPicker.tsx
Labels: core

#1045 fix: always import from ethers package
  .changeset/ninety-cars-carry.md
  .github/workflows/build-test-publish.yml
  packages/swapkit/core/src/helpers/explorerUrls.ts
  packages/swapkit/helpers/src/helpers/__tests__/asset.test.ts
  packages/swapkit/helpers/src/modules/__tests__/assetValue.test.ts
  packages/toolboxes/evm/src/__tests__/ethereum.test.ts
  packages/toolboxes/evm/src/provider.ts
  packages/toolboxes/evm/src/toolbox/EVMToolbox.ts
  packages/toolboxes/evm/src/toolbox/op.ts
Labels: core, evm

#1048 fix: ks solana derivation path
  .changeset/olive-pigs-relate.md
  packages/swapkit/helpers/src/helpers/derivationPath.ts
  packages/wallets/keystore/src/keystore.ts
Labels: core, keystore

#1054 fix: trezor nonce signature
  .changeset/large-avocados-know.md
  packages/wallets/trezor/src/evmSigner.ts
Labels: hardware-wallet

#1055 fix: export new validator address and drop sync one
  .changeset/silly-ducks-act.md
  packages/swapkit/core/src/client.ts
  packages/swapkit/core/src/index.ts
Labels: core

#1060 fix: address validator return type
  .changeset/sweet-eyes-complain.md
  packages/swapkit/core/src/helpers/walletAddressValidator.ts
Labels: core

#1064 feat: adds multicall to eth toolbox
  .changeset/loud-walls-love.md
  packages/toolboxes/evm/src/contracts/eth/multicall.ts
  packages/toolboxes/evm/src/toolbox/eth.ts
Labels: evm

#1067 Fix/solana token transfer
  .gitignore
  packages/toolboxes/solana/src/toolbox.ts
Labels: solana

#1075 chore: updates solana deps
  .changeset/tricky-timers-marry.md
  bun.lockb
  packages/toolboxes/solana/package.json
  packages/wallets/keystore/package.json
Labels: keystore, solana
