Repository thorswap/SwapKit, pull requests merged in 2024-03, with the labels that each got.

#662 Add Mayachain x XDEFI support
  packages/wallets/xdefi/src/index.ts
  packages/wallets/xdefi/src/walletHelpers.ts
Labels: xdefi

#656 add dash
  packages/toolboxes/utxo/src/api/blockchairApi.ts
  packages/toolboxes/utxo/src/utils/txSize.ts
  packages/wallets/keepkey/src/keepkey.ts
  playgrounds/vite/package.json
  playgrounds/vite/src/WalletPicker.tsx
  playgrounds/vite/vite.config.ts
  pnpm-lock.yaml
Labels: utxo

#665 Fix XDEFI x Mayachain support
  packages/toolboxes/cosmos/src/thorchainUtils/messages.ts
  packages/wallets/xdefi/src/xdefiWallet.ts
Labels: cosmos, xdefi

#663 Add Mayachain to CosmosChains
  packages/swapkit/types/src/network.ts
Labels: types

#669 fix Mayachain messages + XDEFI deposit
  packages/toolboxes/cosmos/src/thorchainUtils/messages.ts
  packages/toolboxes/cosmos/src/thorchainUtils/registry.ts
  packages/toolboxes/cosmos/src/toolbox/thorchain.ts
  packages/wallets/xdefi/src/walletHelpers.ts
Labels: cosmos, xdefi

#674 chore: remove bundling @cosmjs dependencies
  .size-limit.js
  biome.json
  package.json
  packages/swapkit/api/package.json
  packages/swapkit/chainflip/package.json
  packages/swapkit/core/package.json
  packages/swapkit/helpers/package.json
  packages/swapkit/sdk/package.json
  packages/swapkit/thorchain/src/client.ts
  packages/swapkit/tokens/package.json
  packages/swapkit/types/package.json
  packages/toolboxes/cosmos/package.json
  packages/toolboxes/cosmos/src/cosmosClient.ts
  packages/toolboxes/cosmos/src/index.ts
  packages/toolboxes/cosmos/src/re-exports.ts
  packages/toolboxes/cosmos/src/thorchainUtils/addressFormat.ts
  packages/toolboxes/cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/cosmos/src/thorchainUtils/util.ts
  packages/toolboxes/cosmos/vite.config.ts
  packages/toolboxes/evm/package.json
  packages/toolboxes/substrate/package.json
  packages/toolboxes/utxo/package.json
  packages/wallets/evm-extensions/package.json
  packages/wallets/keepkey/package.json
  packages/wallets/keepkey/src/keepkey.ts
  packages/wallets/keplr/package.json
  packages/wallets/keystore/package.json
  packages/wallets/ledger/package.json
  packages/wallets/ledger/src/clients/binance/helpers.ts
  packages/wallets/ledger/src/clients/thorchain/index.ts
  packages/wallets/ledger/src/clients/thorchain/utils.ts
  packages/wallets/ledger/src/interfaces/LedgerInterfaces.ts
  packages/wallets/ledger/src/interfaces/utxo.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/okx/package.json
  packages/wallets/okx/src/helpers.ts
  packages/wallets/trezor/package.json
  packages/wallets/trezor/src/trezor.ts
  packages/wallets/wc/package.json
  packages/wallets/wc/src/walletconnect.ts
  packages/wallets/xdefi/package.json
  packages/wallets/xdefi/src/walletHelpers.ts
  playgrounds/nextjs/package.json
  pnpm-lock.yaml
  tools/vite/package.json
Labels: cosmos, wc, ledger, trezor, xdefi

#677 Add ARB, OP, MATIC & DASH to Ledger, Add DASH to Trezor
  .changeset/bright-moles-agree.md
  packages/swapkit/helpers/src/helpers/__tests__/others.test.ts
  packages/swapkit/helpers/src/helpers/others.ts
  packages/wallets/ledger/src/clients/avalanche.ts
  packages/wallets/ledger/src/clients/binance/index.ts
  packages/wallets/ledger/src/clients/binancesmartchain.ts
  packages/wallets/ledger/src/clients/bitcoin.ts
  packages/wallets/ledger/src/clients/bitcoincash.ts
  packages/wallets/ledger/src/clients/cosmos.ts
  packages/wallets/ledger/src/clients/dogecoin.ts
  packages/wallets/ledger/src/clients/ethereum.ts
  packages/wallets/ledger/src/clients/evm.ts
  packages/wallets/ledger/src/clients/litecoin.ts
  packages/wallets/ledger/src/clients/thorchain/index.ts
  packages/wallets/ledger/src/clients/utxo.ts
  packages/wallets/ledger/src/helpers/derivationPath.ts
  packages/wallets/ledger/src/helpers/getLedgerAddress.ts
  packages/wallets/ledger/src/helpers/getLedgerClient.ts
  packages/wallets/ledger/src/helpers/ledgerSupportedChains.ts
  packages/wallets/ledger/src/interfaces/CosmosLedgerInterface.ts
  packages/wallets/ledger/src/interfaces/LedgerInterfaces.ts
  packages/wallets/ledger/src/interfaces/types.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/ledger/src/types.ts
  packages/wallets/trezor/src/trezor.ts
  playgrounds/vite/src/WalletPicker.tsx
Labels: ledger, trezor
