Repository thorswap/SwapKit, pull requests merged in 2024-07, with the labels that each got.

#888 feat: add affiliate support to getMemoForDeposit
  .changeset/tiny-dogs-hang.md
  packages/swapkit/helpers/src/helpers/memo.ts
Labels: core

#893 feat(new-wallet): talisman (#884)
  bun.lockb
  packages/swapkit/helpers/src/modules/swapKitError.ts
  packages/toolboxes/substrate/src/toolbox/baseSubstrateToolbox.ts
  packages/toolboxes/substrate/src/toolbox/toolboxFactory.ts
  packages/wallets/talisman/src/helpers.ts
  playgrounds/vite/src/Send/index.tsx
  playgrounds/vite/src/Swap/SwapInputs.tsx
  playgrounds/vite/src/WalletPicker.tsx
Labels: core, substrate

#894 fix the transfer in talisman
  bun.lockb
  packages/toolboxes/substrate/src/toolbox/baseSubstrateToolbox.ts
  playgrounds/vite/src/WalletPicker.tsx
Labels: substrate

#897 fix: tc transaction object for signing
  .changeset/chilled-ways-film.md
  packages/wallets/ledger/src/ledger.ts
Labels: hardware-wallet

#906 fix: keystore, ledger and api client for nextjs
  .changeset/wet-laws-fry.md
  .size-limit.js
  bun.lockb
  packages/swapkit/api/src/thorswapApi/endpoints.ts
  packages/wallets/keystore/build.ts
  packages/wallets/keystore/src/helpers.ts
  packages/wallets/ledger/build.ts
  packages/wallets/ledger/src/clients/thorchain/lib.ts
  playgrounds/nextjs/next.config.mjs
  playgrounds/nextjs/src/app/layout.tsx
  playgrounds/vite/vite.config.ts
  scripts/replace-versions.ts
Labels: keystore, hardware-wallet, api

#904 chore: improve plugin interface building and params for it
  .changeset/eleven-dolls-sniff.md
  bun.lockb
  packages/plugins/chainflip/src/plugin.ts
  packages/plugins/evm/src/plugin.ts
  packages/plugins/thorchain/src/basePlugin.ts
  packages/plugins/thorchain/src/mayaPlugin.ts
  packages/plugins/thorchain/src/shared.ts
  packages/plugins/thorchain/src/tcPlugin.ts
  packages/plugins/thorchain/src/types.ts
  packages/swapkit/api/src/midgard/endpoints.ts
  packages/swapkit/core/src/client.ts
  packages/swapkit/core/src/index.ts
  packages/swapkit/core/src/types.ts
  packages/swapkit/helpers/build.ts
  packages/swapkit/helpers/package.json
  packages/swapkit/helpers/src/helpers/asset.ts
  packages/swapkit/helpers/src/helpers/derivationPath.ts
  packages/swapkit/helpers/src/types/commonTypes.ts
  packages/swapkit/helpers/src/types/sdk.ts
  packages/swapkit/helpers/src/types/wallet.ts
  packages/swapkit/sdk/package.json
  packages/swapkit/sdk/src/index.ts
  packages/toolboxes/cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/cosmos/src/toolbox/thorchain.ts
  packages/wallets/keepkey/src/index.ts
  packages/wallets/keplr/src/index.ts
  packages/wallets/keystore/src/keystore.ts
  playgrounds/nextjs/package.json
  playgrounds/nextjs/src/app/mayaname/page.tsx
  playgrounds/vite/package.json
  playgrounds/vite/src/App.tsx
  playgrounds/vite/src/Liquidity/index.tsx
  playgrounds/vite/src/Loan/index.tsx
  playgrounds/vite/src/Multisig/index.tsx
  playgrounds/vite/src/Send/index.tsx
  playgrounds/vite/src/Swap/SwapInputs.tsx
  playgrounds/vite/src/TNS/index.tsx
  playgrounds/vite/src/Wallet.tsx
  playgrounds/vite/src/WalletPicker.tsx
  playgrounds/vite/src/main.tsx
  playgrounds/vite/src/swapKitClient.ts
  playgrounds/vite/src/types.ts
  playgrounds/vite/tsconfig.json
Labels: core, cosmos, keystore, hardware-wallet, browser-extensions, api

#905 feat: tns helpers and register for preferred asset
  .changeset/sixty-queens-wave.md
  packages/plugins/thorchain/src/basePlugin.ts
  packages/plugins/thorchain/src/types.ts
  packages/swapkit/api/src/microgard/endpoints.ts
  packages/swapkit/api/src/thornode/endpoints.ts
  packages/swapkit/api/src/thornode/types.ts
  packages/swapkit/core/src/client.ts
  packages/swapkit/helpers/src/helpers/__tests__/derivationPath.ts
  packages/swapkit/helpers/src/helpers/__tests__/memo.test.ts
  packages/swapkit/helpers/src/helpers/__tests__/others.test.ts
  packages/swapkit/helpers/src/helpers/derivationPath.ts
  packages/swapkit/helpers/src/helpers/memo.ts
  packages/swapkit/helpers/src/helpers/others.ts
  packages/swapkit/helpers/src/helpers/web3wallets.ts
  packages/swapkit/helpers/src/types/sdk.ts
  playgrounds/vite/src/TNS/index.tsx
Labels: core, api

#907 chore: bump dependencies
  .changeset/young-walls-love.md
  bun.lockb
  package.json
  packages/plugins/chainflip/package.json
  packages/toolboxes/evm/package.json
  packages/toolboxes/solana/package.json
  packages/wallets/exodus/package.json
  packages/wallets/keplr/package.json
  packages/wallets/ledger/package.json
  packages/wallets/radix/package.json
  packages/wallets/radix/src/radixWallet.ts
  packages/wallets/trezor/package.json
  packages/wallets/xdefi/package.json
  playgrounds/nextjs/package.json
  playgrounds/vite/package.json
  tools/builder/package.json
Labels: evm, radix, mobile-wallet, browser-extensions, solana

#911 Update deposit and withdraw memo
  .changeset/bright-pianos-occur.md
  packages/swapkit/helpers/src/helpers/__tests__/memo.test.ts
  packages/swapkit/helpers/src/helpers/memo.ts
Labels: core

#913 chore: replace ky
  bun.lockb
  packages/swapkit/api/src/thorswapApi/endpoints.ts
  packages/swapkit/helpers/package.json
  packages/swapkit/helpers/src/modules/requestClient.ts
Labels: core, api

#917 add support for new memo type
  .changeset/tall-ducks-collect.md
  packages/swapkit/api/src/thornode/endpoints.ts
  packages/swapkit/api/src/thornode/types.ts
  packages/swapkit/helpers/src/helpers/__tests__/memo.test.ts
  packages/swapkit/helpers/src/helpers/memo.ts
  packages/swapkit/helpers/src/types/sdk.ts
Labels: core, api
