Repository thorswap/SwapKit, pull requests merged in 2024-06, with the labels that each got.

#829 Chore/rename packages
  .changeset/pre.json
  .changeset/sweet-ducks-scream.md
  .size-limit.js
  bun.lockb
  packages/swapkit/evm/CHANGELOG.md
  packages/swapkit/evm/build.ts
  packages/swapkit/evm/package.json
  packages/swapkit/evm/src/contracts/avaxGeneric.ts
  packages/swapkit/evm/src/contracts/avaxWoofi.ts
  packages/swapkit/evm/src/contracts/bscGeneric.ts
  packages/swapkit/evm/src/contracts/ethGeneric.ts
  packages/swapkit/evm/src/contracts/index.ts
  packages/swapkit/evm/src/contracts/pancakeV2.ts
  packages/swapkit/evm/src/contracts/pangolin.ts
  packages/swapkit/evm/src/contracts/routers/index.ts
  packages/swapkit/evm/src/contracts/routers/kyber.ts
  packages/swapkit/evm/src/contracts/routers/oneinch.ts
  packages/swapkit/evm/src/contracts/routers/pancakeswap.ts
  packages/swapkit/evm/src/contracts/routers/pangolin.ts
  packages/swapkit/evm/src/contracts/routers/sushiswap.ts
  packages/swapkit/evm/src/contracts/routers/traderJoe.ts
  packages/swapkit/evm/src/contracts/routers/uniswapv2.ts
  packages/swapkit/evm/src/contracts/routers/uniswapv3.ts
  packages/swapkit/evm/src/contracts/routers/woofi.ts
  packages/swapkit/evm/src/contracts/sushiswap.ts
  packages/swapkit/evm/src/contracts/traderJoe.ts
  packages/swapkit/evm/src/contracts/uniswapV2.ts
  packages/swapkit/evm/src/contracts/uniswapV2Leg.ts
  packages/swapkit/evm/src/contracts/uniswapV3_100.ts
  packages/swapkit/evm/src/contracts/uniswapV3_10000.ts
  packages/swapkit/evm/src/contracts/uniswapV3_3000.ts
  packages/swapkit/evm/src/contracts/uniswapV3_500.ts
  packages/swapkit/evm/src/index.ts
  packages/swapkit/evm/src/plugin.ts
  packages/swapkit/evm/tsconfig.json
  packages/swapkit/sdk/package.json
  packages/swapkit/sdk/src/index.ts
  packages/wallets/exodus/CHANGELOG.md
  packages/wallets/exodus/build.ts
  packages/wallets/exodus/package.json
  packages/wallets/exodus/src/index.ts
  packages/wallets/exodus/tsconfig.json
  packages/wallets/radix/package.json
Labels: release

#831 Chore/bump exodus
  .changeset/chilled-cobras-rhyme.md
  .changeset/five-eggs-change.md
  .changeset/honest-drinks-draw.md
  .changeset/lovely-tips-whisper.md
  packages/swapkit/evm/CHANGELOG.md
  packages/swapkit/sdk/CHANGELOG.md
Labels: release

#837 fix: cosmos transfer token denom
  .changeset/fuzzy-coats-jump.md
  packages/wallets/xdefi/src/walletHelpers.ts
Labels: xdefi

#843 feat: sk improvements to toolboxes and core client
  .changeset/violet-brooms-listen.md
  packages/swapkit/core/src/client.ts
  packages/swapkit/helpers/src/types/chains.ts
  packages/toolboxes/cosmos/src/toolbox/BaseCosmosToolbox.ts
  packages/toolboxes/evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/evm/src/toolbox/getToolboxByChain.ts
  packages/toolboxes/substrate/src/toolbox/baseSubstrateToolbox.ts
  packages/toolboxes/utxo/src/toolbox/utxo.ts
Labels: evm, utxo, cosmos

#842 talisman wallet
  bun.lockb
  packages/swapkit/helpers/src/helpers/web3wallets.ts
  packages/swapkit/helpers/src/modules/assetValue.ts
  packages/swapkit/helpers/src/modules/swapKitError.ts
  packages/swapkit/helpers/src/types/wallet.ts
  packages/swapkit/sdk/src/index.ts
  packages/toolboxes/substrate/src/toolbox/baseSubstrateToolbox.ts
  packages/toolboxes/substrate/src/toolbox/toolboxFactory.ts
  packages/toolboxes/utxo/src/api/blockchairApi.ts
  packages/wallets/talisman/CHANGELOG.md
  packages/wallets/talisman/build.ts
  packages/wallets/talisman/package.json
  packages/wallets/talisman/src/helpers.ts
  packages/wallets/talisman/src/index.ts
  packages/wallets/talisman/src/talisman.ts
  packages/wallets/talisman/src/types.ts
  packages/wallets/talisman/tsconfig.json
  playgrounds/vite/src/Liquidity/index.tsx
  playgrounds/vite/src/Send/index.tsx
  playgrounds/vite/src/Swap/SwapInputs.tsx
  playgrounds/vite/src/WalletPicker.tsx
Labels: utxo, release

#869 Better handle Chainflip tickers
  .changeset/small-books-check.md
  packages/plugins/chainflip/src/assets.ts
  packages/plugins/chainflip/src/broker.ts
  packages/plugins/chainflip/src/index.ts
  packages/swapkit/helpers/src/modules/swapKitError.ts
Labels: core

#872 Add LP endpoints to Microgard API
  .vscode/settings.json
  packages/swapkit/api/src/microgard/endpoints.ts
  packages/swapkit/api/src/microgard/types.ts
  packages/swapkit/helpers/src/modules/assetValue.ts
Labels: core, api
