Repository thorswap/SwapKit, pull requests merged in 2024-11, with the labels that each got.

#1081 Feat/rpc url fallback
  .changeset/itchy-poets-impress.md
  packages/swapkit/api/src/index.ts
  packages/swapkit/api/src/swapkitApi/endpoints.ts
  packages/swapkit/api/src/swapkitApi/types.ts
  packages/swapkit/api/src/thorswapStatic/endpoints.ts
  packages/swapkit/helpers/src/helpers/others.ts
  packages/swapkit/helpers/src/types/chains.ts
  packages/swapkit/helpers/src/types/commonTypes.ts
  packages/swapkit/helpers/src/types/network.ts
  packages/toolboxes/cosmos/src/thorchainUtils/util.ts
  packages/toolboxes/cosmos/src/util.ts
  packages/toolboxes/evm/src/toolbox/arb.ts
  packages/toolboxes/evm/src/toolbox/base.ts
  packages/toolboxes/evm/src/toolbox/matic.ts
  packages/toolboxes/evm/src/toolbox/op.ts
  packages/toolboxes/solana/src/toolbox.ts
  packages/toolboxes/substrate/src/toolbox/toolboxFactory.ts
  packages/toolboxes/utxo/src/toolbox/bitcoinCash.ts
  packages/wallets/keepkey-bex/src/walletHelpers.ts
  packages/wallets/keepkey/src/chains/cosmos.ts
  packages/wallets/keepkey/src/chains/mayachain.ts
  packages/wallets/keepkey/src/chains/thorchain.ts
  packages/wallets/keystore/src/keystore.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/okx/src/helpers.ts
  packages/wallets/wc/src/walletconnect.ts
  packages/wallets/xdefi/src/walletHelpers.ts
Labels: core, evm, utxo, cosmos, mobile-wallet, keystore, hardware-wallet, substrate, browser-extensions, solana, api

#1083 fix: circular deps
  packages/swapkit/api/src/swapkitApi/endpoints.ts
  packages/swapkit/helpers/src/types/chains.ts
  packages/swapkit/helpers/src/types/network.ts
Labels: core, api

#1084 Bump @solana/web3.js version
  .changeset/seven-boxes-exercise.md
  bun.lockb
  packages/toolboxes/solana/package.json
  packages/wallets/phantom/package.json
Labels: browser-extensions, solana

#1090 chore: update token list
  .changeset/chilly-jars-invite.md
  packages/swapkit/tokens/src/index.ts
Labels: tokens

#1088 Add Jupiter provider token list
  .changeset/dirty-scissors-glow.md
  .changeset/nice-countries-marry.md
  packages/swapkit/helpers/src/helpers/__tests__/others.test.ts
  packages/swapkit/helpers/src/helpers/asset.ts
  packages/swapkit/helpers/src/types/quotes.ts
  packages/swapkit/helpers/src/types/tokens.ts
  packages/swapkit/tokens/fetchTokenLists.ts
  packages/swapkit/tokens/src/index.ts
  packages/swapkit/tokens/src/tokenLists/caviar_v1.ts
  packages/swapkit/tokens/src/tokenLists/chainflip.ts
  packages/swapkit/tokens/src/tokenLists/jupiter.ts
  packages/swapkit/tokens/src/tokenLists/mayachain.ts
  packages/swapkit/tokens/src/tokenLists/ociswap_v1.ts
  packages/swapkit/tokens/src/tokenLists/oneinch.ts
  packages/swapkit/tokens/src/tokenLists/openocean_v2.ts
  packages/swapkit/tokens/src/tokenLists/pangolin_v1.ts
  packages/swapkit/tokens/src/tokenLists/sushiswap_v2.ts
  packages/swapkit/tokens/src/tokenLists/thorchain.ts
  packages/swapkit/tokens/src/tokenLists/traderjoe_v2.ts
  packages/swapkit/tokens/src/tokenLists/uniswap_v2.ts
  packages/swapkit/tokens/src/tokenLists/uniswap_v3.ts
Labels: core, tokens

#1073 Feat/chainflip dca
  .changeset/strong-ducks-deny.md
  bun.lockb
  packages/plugins/chainflip/package.json
  packages/plugins/chainflip/src/plugin.ts
  packages/plugins/evm/src/plugin.ts
  packages/plugins/radix/src/index.ts
  packages/swapkit/api/src/swapkitApi/types.ts
  packages/swapkit/core/src/client.ts
  packages/swapkit/helpers/src/types/quotes.ts
  playgrounds/vite/src/Swap/SwapInputs.tsx
Labels: core, api

#1089 Add block times
  .changeset/great-paws-impress.md
  packages/swapkit/helpers/src/types/chains.ts
Labels: core
