Repository thorswap/SwapKit, pull requests merged in 2024-08, with the labels that each got.

#926 add affiliate to RUNEPOOL_DEPOSIT
  .changeset/light-balloons-sneeze.md
  packages/swapkit/helpers/src/helpers/memo.ts
Labels: core

#918 feat: add v2 price api
  .changeset/angry-stingrays-whisper.md
  .changeset/loud-maps-know.md
  bun.lockb
  packages/plugins/chainflip/src/plugin.ts
  packages/plugins/chainflip/src/types.ts
  packages/plugins/evm/package.json
  packages/plugins/evm/src/plugin.ts
  packages/plugins/thorchain/package.json
  packages/plugins/thorchain/src/getSwapParams.ts
  packages/plugins/thorchain/src/mayaPlugin.ts
  packages/plugins/thorchain/src/tcPlugin.ts
  packages/swapkit/api/__test__/apiv2.test.ts
  packages/swapkit/api/src/index.ts
  packages/swapkit/api/src/thorswapApi/endpoints.ts
  packages/swapkit/api/src/thorswapApi/types.ts
  packages/swapkit/api/src/thorswapApiV2/endpoints.ts
  packages/swapkit/api/src/thorswapApiV2/types.ts
  packages/swapkit/api/src/thorswapStatic/endpoints.ts
  packages/swapkit/contracts/src/abis/erc20.ts
  packages/swapkit/contracts/src/abis/mayaEvmVaults.ts
  packages/swapkit/contracts/src/abis/tcEthVault.ts
  packages/swapkit/contracts/src/index.ts
  packages/swapkit/core/package.json
  packages/swapkit/core/src/client.ts
  packages/swapkit/helpers/package.json
  packages/swapkit/helpers/src/index.ts
  packages/swapkit/helpers/src/types/index.ts
  packages/swapkit/helpers/src/types/quotes.ts
  packages/swapkit/helpers/src/types/sdk.ts
  packages/swapkit/helpers/tsconfig.json
  packages/toolboxes/evm/src/toolbox/BaseEVMToolbox.ts
Labels: core, evm, api

#933 chore: restore caviar from nightly
  .changeset/rich-ads-melt.md
  packages/swapkit/helpers/src/helpers/__tests__/others.test.ts
  packages/swapkit/helpers/src/helpers/asset.ts
  packages/swapkit/helpers/src/modules/__tests__/assetValue.test.ts
  packages/swapkit/tokens/src/index.ts
  packages/swapkit/tokens/src/tokenLists/caviar_v1.ts
Labels: core, tokens

#937 fix: api call and awaits on thorswap v2
  .changeset/mean-waves-cover.md
  packages/swapkit/api/src/thorswapApiV2/endpoints.ts
  packages/wallets/evm-extensions/src/index.ts
  packages/wallets/exodus/src/index.ts
  packages/wallets/ledger/src/helpers/getLedgerAddress.ts
Labels: mobile-wallet, hardware-wallet, browser-extensions, api

#936 chore: update lists with shortCode
  .changeset/tame-socks-chew.md
  .github/workflows/check-token-lists.yml
  packages/swapkit/api/src/thorswapApiV2/types.ts
  packages/swapkit/tokens/fetchTokenLists.ts
  packages/swapkit/tokens/src/index.ts
  packages/swapkit/tokens/src/tokenLists/caviar_v1.ts
  packages/swapkit/tokens/src/tokenLists/chainflip.ts
  packages/swapkit/tokens/src/tokenLists/mayachain.ts
  packages/swapkit/tokens/src/tokenLists/oneinch.ts
  packages/swapkit/tokens/src/tokenLists/pancakeswap.ts
  packages/swapkit/tokens/src/tokenLists/pangolin_v1.ts
  packages/swapkit/tokens/src/tokenLists/sushiswap_v2.ts
  packages/swapkit/tokens/src/tokenLists/thorchain.ts
  packages/swapkit/tokens/src/tokenLists/traderjoe_v2.ts
  packages/swapkit/tokens/src/tokenLists/uniswap_v2.ts
  packages/swapkit/tokens/src/tokenLists/uniswap_v3.ts
Labels: api, tokens

#934 feat: keystore derivation paths
  .changeset/nasty-parents-yell.md
  bun.lockb
  package.json
  packages/swapkit/core/src/client.ts
  packages/swapkit/helpers/src/helpers/web3wallets.ts
  packages/swapkit/helpers/src/types/commonTypes.ts
  packages/swapkit/helpers/src/types/sdk.ts
  packages/swapkit/sdk/src/index.ts
  packages/wallets/evm-extensions/src/index.ts
  packages/wallets/exodus/src/index.ts
  packages/wallets/keepkey/src/index.ts
  packages/wallets/keystore/src/keystore.ts
  packages/wallets/ledger/src/helpers/getLedgerClient.ts
  packages/wallets/ledger/src/helpers/ledgerSupportedChains.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/talisman/src/helpers.ts
  packages/wallets/trezor/src/index.ts
  packages/wallets/wc/src/walletconnect.ts
  packages/wallets/xdefi/src/xdefiWallet.ts
  playgrounds/nextjs/package.json
  playgrounds/vite/package.json
Labels: core, mobile-wallet, keystore, hardware-wallet, browser-extensions

#942 fix: maya synth creation
  .changeset/unlucky-nails-provide.md
  packages/swapkit/helpers/src/modules/__tests__/assetValue.test.ts
  packages/swapkit/helpers/src/modules/assetValue.ts
Labels: core

#948 update toString() method for synths
  .changeset/few-parents-complain.md
  .changeset/metal-bulldogs-press.md
  packages/swapkit/helpers/src/modules/__tests__/assetValue.test.ts
  packages/swapkit/helpers/src/modules/assetValue.ts
  packages/wallets/keystore/src/keystore.ts
Labels: core, keystore

#962 feat: adds ledger live and fixes kuji
  .changeset/chilly-onions-cross.md
  .changeset/quiet-seahorses-change.md
  bun.lockb
  packages/swapkit/helpers/src/types/wallet.ts
  packages/wallets/keplr/src/index.ts
  packages/wallets/ledger/package.json
  packages/wallets/ledger/src/ledgerLive.ts
  packages/wallets/xdefi/src/walletHelpers.ts
Labels: core, hardware-wallet, browser-extensions
