Repository thorswap/SwapKit, pull requests merged in 2024-02, with the labels that each got.

#591 feat: sign + verify string values for TC
  .changeset/gentle-ligers-taste.md
  packages/toolboxes/cosmos/src/index.ts
  packages/toolboxes/cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/cosmos/src/toolbox/BaseCosmosToolbox.ts
  packages/toolboxes/cosmos/src/toolbox/binance.ts
  packages/toolboxes/cosmos/src/toolbox/gaia.ts
  packages/toolboxes/cosmos/src/toolbox/kujira.ts
  packages/toolboxes/cosmos/src/toolbox/thorchain.ts
  packages/wallets/keystore/src/keystore.ts
  packages/wallets/ledger/src/clients/thorchain/index.ts
  packages/wallets/ledger/src/ledger.ts
Labels: cosmos, ledger, keystore

#593 Add swap amount too low error code
  .changeset/blue-jobs-love.md
  packages/swapkit/types/src/errors/displayMessages.ts
  packages/swapkit/types/src/errors/types.ts
Labels: types

#599 chore: revamp and refactor to simpler structure
  .changeset/ten-apes-tap.md
  packages/swapkit/core/src/client/types.ts
  packages/swapkit/helpers/src/helpers/asset.ts
  packages/swapkit/helpers/src/helpers/validators.ts
  packages/swapkit/types/src/network.ts
  packages/toolboxes/evm/src/toolbox/eth.ts
  packages/toolboxes/evm/src/toolbox/matic.ts
  packages/toolboxes/evm/tsconfig.json
  packages/toolboxes/utxo/src/api/blockchairApi.ts
  packages/toolboxes/utxo/src/index.ts
  packages/toolboxes/utxo/src/toolbox/bitcoinCash.ts
  packages/toolboxes/utxo/src/toolbox/btc.ts
  packages/toolboxes/utxo/src/toolbox/doge.ts
  packages/toolboxes/utxo/src/toolbox/getToolboxByChain.ts
  packages/toolboxes/utxo/src/toolbox/index.ts
  packages/toolboxes/utxo/src/toolbox/ltc.ts
  packages/toolboxes/utxo/src/toolbox/utxo.ts
  packages/toolboxes/utxo/src/utils/coinselect.ts
  packages/toolboxes/utxo/src/utils/utils.ts
  packages/toolboxes/utxo/tsconfig.json
  packages/wallets/keepkey/src/chains/utxo.ts
  packages/wallets/keepkey/src/helpers/coins.ts
  packages/wallets/trezor/package.json
  packages/wallets/trezor/src/trezor.ts
  pnpm-lock.yaml
Labels: evm, utxo, types, trezor

#637 fix: utxo transfer to taproot + dot transfer
  .changeset/sixty-guests-double.md
  packages/toolboxes/substrate/src/toolbox/baseSubstrateToobox.ts
  packages/toolboxes/utxo/src/toolbox/utxo.ts
  packages/toolboxes/utxo/src/utils/txSize.ts
Labels: utxo
