Repository thorswap/SwapKit, pull requests merged in 2024-09, with the labels that each got.

#972 add dynamic chainId
  .changeset/twenty-chefs-kiss.md
  packages/swapkit/helpers/src/helpers/others.ts
  packages/swapkit/helpers/src/types/chains.ts
  packages/swapkit/tokens/fetchTokenLists.ts
  packages/toolboxes/cosmos/src/thorchainUtils/util.ts
  packages/toolboxes/cosmos/src/toolbox/BaseCosmosToolbox.ts
  packages/toolboxes/cosmos/src/toolbox/thorchain.ts
  packages/toolboxes/cosmos/src/util.ts
  packages/wallets/keepkey/src/chains/thorchain.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/wc/src/walletconnect.ts
  playgrounds/vite/src/WalletPicker.tsx
Labels: core, cosmos, mobile-wallet, hardware-wallet, tokens

#974 fix: dynamic chain id
  .changeset/healthy-monkeys-judge.md
  packages/swapkit/helpers/src/types/chains.ts
  packages/toolboxes/cosmos/src/thorchainUtils/util.ts
  packages/toolboxes/cosmos/src/toolbox/BaseCosmosToolbox.ts
  packages/toolboxes/cosmos/src/toolbox/thorchain.ts
Labels: core, cosmos

#977 chore: set new TC chainId and remove dynamic chainid
  .changeset/khaki-peaches-glow.md
  packages/swapkit/helpers/src/types/chains.ts
  packages/swapkit/tokens/fetchTokenLists.ts
  packages/toolboxes/cosmos/src/thorchainUtils/util.ts
  packages/wallets/keepkey/src/chains/thorchain.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/wc/src/walletconnect.ts
Labels: core, cosmos, mobile-wallet, hardware-wallet, tokens

#976 fix(packages/wallets/evm-extensions): only adds network if it differs from current
  packages/wallets/evm-extensions/src/index.ts
Labels: browser-extensions

#979 Feat/conditional evm chain wallet add
  .changeset/swift-berries-sip.md
  packages/wallets/evm-extensions/src/index.ts
Labels: browser-extensions

#964 feat: Phantom BTC & ETH chains
  .changeset/slow-crabs-design.md
  bun.lockb
  packages/swapkit/api/package.json
  packages/swapkit/helpers/src/types/network.ts
  packages/toolboxes/solana/src/toolbox.ts
  packages/wallets/phantom/src/index.ts
  packages/wallets/phantom/src/types.ts
  playgrounds/vite/src/WalletPicker.tsx
Labels: core, browser-extensions, solana, api

#986 fix: kuji send and synth asset value symbol
  .changeset/three-cameras-grow.md
  packages/swapkit/helpers/src/modules/__tests__/assetValue.test.ts
  packages/swapkit/helpers/src/modules/assetValue.ts
  packages/toolboxes/cosmos/src/types.ts
  packages/wallets/keplr/src/index.ts
  packages/wallets/xdefi/src/walletHelpers.ts
  packages/wallets/xdefi/src/xdefiWallet.ts
  playgrounds/vite/src/WalletPicker.tsx
Labels: core, cosmos, browser-extensions

#987 feat: releases radix wallet integration
  .changeset/itchy-ladybugs-hear.md
  .changeset/thin-mails-remember.md
  biome.json
  bun.lockb
  packages/plugins/radix/package.json
  packages/plugins/radix/src/index.ts
  packages/swapkit/core/src/client.ts
  packages/swapkit/helpers/src/helpers/__tests__/asset.test.ts
  packages/swapkit/helpers/src/types/commonTypes.ts
  packages/swapkit/tokens/src/tokenLists/caviar_v1.ts
  packages/swapkit/tokens/src/tokenLists/chainflip.ts
  packages/swapkit/tokens/src/tokenLists/mayachain.ts
  packages/swapkit/tokens/src/tokenLists/mayachain_streaming.ts
  packages/swapkit/tokens/src/tokenLists/ociswap_v1.ts
  packages/swapkit/tokens/src/tokenLists/oneinch.ts
  packages/swapkit/tokens/src/tokenLists/pancakeswap.ts
  packages/swapkit/tokens/src/tokenLists/pangolin_v1.ts
  packages/swapkit/tokens/src/tokenLists/sushiswap_v2.ts
  packages/swapkit/tokens/src/tokenLists/thorchain.ts
  packages/swapkit/tokens/src/tokenLists/thorchain_streaming.ts
  packages/swapkit/tokens/src/tokenLists/traderjoe_v2.ts
  packages/toolboxes/radix/package.json
  packages/toolboxes/radix/src/index.ts
  packages/toolboxes/radix/src/toolbox.ts
  packages/toolboxes/radix/src/types/index.ts
  packages/wallets/radix/package.json
  packages/wallets/radix/src/radixWallet.ts
  tools/builder/package.json
Labels: core, radix, tokens

#996 Name service midgard endpoints
  .changeset/cool-mice-impress.md
  packages/swapkit/api/src/midgard/endpoints.ts
Labels: api

#1001 Mayaname thornode details
  .changeset/slimy-glasses-juggle.md
  packages/swapkit/api/src/thornode/endpoints.ts
Labels: api

#1003 Fix preferred asset inputs
  .changeset/chatty-carpets-cross.md
  .changeset/three-avocados-appear.md
  packages/plugins/thorchain/src/basePlugin.ts
  packages/swapkit/helpers/src/modules/swapKitError.ts
Labels: core

#1006 Feat/enable cf sdk deposit channel
  .changeset/twelve-ads-dream.md
  bun.lockb
  packages/plugins/chainflip/package.json
  packages/plugins/chainflip/src/broker.ts
  packages/plugins/chainflip/src/plugin.ts
  packages/swapkit/helpers/src/types/commonTypes.ts
  packages/swapkit/helpers/src/types/network.ts
  packages/toolboxes/evm/src/toolbox/EVMToolbox.ts
  packages/wallets/trezor/package.json
  packages/wallets/trezor/src/evmSigner.ts
  playgrounds/vite/src/Swap/SwapInputs.tsx
Labels: core, evm, hardware-wallet
