Repository thorswap/SwapKit, pull requests merged in 2024-01, with the labels that each got.

#544 Fix/missing gas asset
  .changeset/proud-planes-protect.md
  packages/toolboxes/evm/src/api/ethplorerApi.ts
  packages/toolboxes/evm/src/helpers.ts
  packages/toolboxes/evm/src/toolbox/arb.ts
  packages/toolboxes/evm/src/toolbox/avax.ts
  packages/toolboxes/evm/src/toolbox/bsc.ts
  packages/toolboxes/evm/src/toolbox/eth.ts
  packages/toolboxes/evm/src/toolbox/matic.ts
  packages/toolboxes/evm/src/toolbox/op.ts
  packages/toolboxes/utxo/src/utils/txSize.ts
  packages/wallets/evm-extensions/src/evmWallet.ts
  packages/wallets/okx/src/helpers.ts
Labels: evm, utxo, evm-extensions

#549 Fix unsafe Error message handling
  .changeset/tender-coins-sparkle.md
  packages/swapkit/types/src/errors/displayMessages.ts
Labels: types

#551 chore: added kujira coin usk
  .changeset/brown-dogs-heal.md
  .vscode/settings.json
  packages/swapkit/helpers/src/helpers/asset.ts
  packages/toolboxes/cosmos/src/toolbox/BaseCosmosToolbox.ts
  packages/toolboxes/cosmos/src/toolbox/kujira.ts
  packages/toolboxes/cosmos/src/util.ts
Labels: cosmos, maintenance

#554 fix: utxo fee on tx broadcast
  .changeset/hungry-mayflies-begin.md
  internal/playground/vite.config.ts
  packages/toolboxes/utxo/src/api/rpcApi.ts
  packages/toolboxes/utxo/src/toolbox/BaseUTXOToolbox.ts
  packages/toolboxes/utxo/src/utils/coinselect.ts
  packages/toolboxes/utxo/src/utils/utils.ts
Labels: utxo

#560 feat: add api-key header with config to pass to request client
  .changeset/loud-turkeys-tell.md
  .size-limit.js
  internal/playground/package.json
  internal/playground/src/Swap/SwapInputs.tsx
  internal/playground/src/Swap/index.tsx
  packages/swapkit/api/src/api.ts
  packages/swapkit/api/src/index.ts
  packages/swapkit/api/src/requestClient.ts
  packages/swapkit/core/package.json
  packages/swapkit/core/src/aggregator/getSwapParams.ts
  packages/swapkit/core/src/client/types.ts
  packages/swapkit/helpers/package.json
  packages/swapkit/helpers/src/helpers/asset.ts
  packages/swapkit/helpers/src/helpers/request.ts
  packages/swapkit/helpers/src/index.ts
  packages/swapkit/sdk/package.json
  packages/swapkit/sdk/src/index.ts
  packages/swapkit/types/src/commonTypes.ts
  packages/toolboxes/cosmos/package.json
  packages/toolboxes/cosmos/src/toolbox/BaseCosmosToolbox.ts
  packages/toolboxes/cosmos/src/toolbox/binance.ts
  packages/toolboxes/cosmos/src/util.ts
  packages/wallets/evm-extensions/src/evmWallet.ts
  packages/wallets/keepkey/src/keepkey.ts
  packages/wallets/keplr/src/keplrWallet.ts
  packages/wallets/keystore/src/keystore.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/okx/src/okxWallet.ts
  packages/wallets/trezor/src/trezor.ts
  packages/wallets/wc/package.json
  packages/wallets/wc/src/walletconnect.ts
  packages/wallets/xdefi/src/xdefiWallet.ts
  pnpm-lock.yaml
Labels: docs, cosmos, wc, types, ledger, keystore, trezor, xdefi, evm-extensions, keplr
