Repository thorswap/SwapKit, pull requests merged in 2024-04, with the labels that each got.

#704 fix: bch buildTx address format
  .changeset/honest-pants-suffer.md
  packages/toolboxes/utxo/src/toolbox/bitcoinCash.ts
Labels: utxo

#711 More fixes for Maya
  packages/swapkit/helpers/src/modules/assetValue.ts
  packages/toolboxes/cosmos/src/thorchainUtils/messages.ts
  packages/toolboxes/cosmos/src/toolbox/thorchain.ts
Labels: cosmos

#712 chore: update core typings
  .changeset/young-trees-melt.md
  .vscode/settings.json
  biome.json
  bun.lockb
  packages/swapkit/chainflip/src/plugin.ts
  packages/swapkit/core/src/client.ts
  packages/swapkit/core/src/index.ts
  packages/swapkit/core/src/types.ts
  packages/swapkit/helpers/src/modules/swapKitError.ts
  packages/swapkit/helpers/src/types/sdk.ts
  packages/swapkit/sdk/src/index.ts
  packages/swapkit/thorchain/src/plugin.ts
  packages/wallets/evm-extensions/src/evmWallet.ts
  packages/wallets/evm-extensions/src/index.ts
  packages/wallets/keepkey/src/index.ts
  packages/wallets/keepkey/src/keepkey.ts
  packages/wallets/keplr/src/index.ts
  packages/wallets/keystore/src/keystore.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/okx/src/okxWallet.ts
  packages/wallets/trezor/src/index.ts
  packages/wallets/wc/src/constants.ts
  packages/wallets/wc/src/walletconnect.ts
  packages/wallets/xdefi/src/xdefiWallet.ts
  playgrounds/nextjs/src/components/containers/NavigationBar.tsx
  playgrounds/nextjs/src/lib/swapKit.ts
  playgrounds/vite/src/WalletPicker.tsx
  playgrounds/vite/src/swapKitClient.ts
Labels: wc, ledger, keystore, trezor, xdefi, evm-extensions, keplr

#714 Feat/coinbase integration
  .changeset/kind-dingos-glow.md
  .changeset/ninety-laws-begin.md
  bun.lockb
  packages/swapkit/helpers/src/types/commonTypes.ts
  packages/swapkit/helpers/src/types/wallet.ts
  packages/swapkit/sdk/src/index.ts
  packages/toolboxes/utxo/src/toolbox/utxo.ts
  packages/wallets/coinbase/build.ts
  packages/wallets/coinbase/package.json
  packages/wallets/coinbase/src/coinbase.ts
  packages/wallets/coinbase/src/index.ts
  packages/wallets/coinbase/src/signer.ts
  packages/wallets/coinbase/tsconfig.json
  playgrounds/vite/src/WalletPicker.tsx
  playgrounds/vite/src/swapKitClient.ts
Labels: utxo

#723 fix: ledger + bch sending
  .changeset/sour-bugs-jam.md
  packages/toolboxes/utxo/src/toolbox/bitcoinCash.ts
  packages/wallets/ledger/src/helpers/derivationPath.ts
Labels: utxo, ledger

#732 chore: simplify tc plugin & typings
  .changeset/itchy-drinks-rest.md
  bun.lockb
  lefthook.yml
  package.json
  packages/swapkit/api/src/thorswapApi/types.ts
  packages/swapkit/helpers/src/helpers/derivationPath.ts
  packages/swapkit/helpers/src/index.ts
  packages/swapkit/thorchain/src/index.ts
  packages/swapkit/thorchain/src/mayaPlugin.ts
  packages/swapkit/thorchain/src/shared.ts
  packages/swapkit/thorchain/src/tcPlugin.ts
  packages/swapkit/thorchain/src/types.ts
  packages/toolboxes/cosmos/src/types.ts
  packages/wallets/coinbase/src/coinbase.ts
  packages/wallets/coinbase/src/index.ts
  packages/wallets/keepkey/src/chains/evm.ts
  packages/wallets/keepkey/src/chains/thorchain.ts
  packages/wallets/keystore/src/keystore.ts
  packages/wallets/ledger/src/clients/utxo.ts
  packages/wallets/ledger/src/index.ts
  packages/wallets/ledger/src/ledger.ts
  playgrounds/vite/src/Swap/index.tsx
  playgrounds/vite/src/WalletPicker.tsx
  playgrounds/vite/src/swapKitClient.ts
Labels: cosmos, ledger, keystore

#755 fix: xdefi add arb toolbox type
  .changeset/chilled-clocks-bathe.md
  packages/wallets/xdefi/src/xdefiWallet.ts
Labels: xdefi
