Repository thorswap/SwapKit, pull requests merged in 2024-12, with the labels that each got.

#1101 Feat/authenticate request
  .changeset/chilled-beds-check.md
  .changeset/lazy-scissors-play.md
  .changeset/witty-seahorses-check.md
  packages/plugins/thorchain/src/getSwapParams.ts
  packages/plugins/thorchain/src/index.ts
  packages/plugins/thorchain/src/tcPlugin.ts
  packages/plugins/thorchain/src/types.ts
  packages/swapkit/api/src/index.ts
  packages/swapkit/api/src/swapkitApi/endpoints.ts
  packages/swapkit/api/src/swapkitApi/types.ts
  packages/swapkit/api/src/thorswapApi/__tests__/requestClient.test.ts
  packages/swapkit/api/src/thorswapApi/endpoints.ts
  packages/swapkit/api/src/thorswapApi/types.ts
  packages/swapkit/core/src/client.ts
  packages/swapkit/helpers/src/modules/swapKitError.ts
  packages/swapkit/helpers/src/types/commonTypes.ts
  packages/toolboxes/cosmos/src/toolbox/BaseCosmosToolbox.ts
  playgrounds/vite/src/swapKitClient.ts
Labels: core, cosmos, api

#1117 feat: add cf boost request param
  .changeset/small-games-travel.md
  packages/swapkit/api/src/swapkitApi/types.ts
Labels: api

#1109 Feat/bitget wallet
  .changeset/friendly-bees-shout.md
  .changeset/khaki-monkeys-protect.md
  .changeset/khaki-suits-sell.md
  .changeset/nasty-cherries-relate.md
  bun.lockb
  packages/plugins/kado/src/plugin.ts
  packages/swapkit/helpers/src/modules/swapKitError.ts
  packages/swapkit/helpers/src/types/sdk.ts
  packages/swapkit/helpers/src/types/wallet.ts
  packages/swapkit/wallets/package.json
  packages/swapkit/wallets/src/index.ts
  packages/wallets/bitget/CHANGELOG.md
  packages/wallets/bitget/build.ts
  packages/wallets/bitget/package.json
  packages/wallets/bitget/src/bitgetWallet.ts
  packages/wallets/bitget/src/helpers.ts
  packages/wallets/bitget/src/index.ts
  packages/wallets/bitget/tsconfig.json
  playgrounds/vite/src/WalletPicker.tsx
  playgrounds/vite/vite.config.ts
Labels: core

#1129 Feat/chainflip broker improvs
  .changeset/blue-rings-allow.md
  .changeset/old-bags-sit.md
  packages/plugins/chainflip/src/broker.ts
  packages/plugins/chainflip/src/plugin.ts
  packages/plugins/chainflip/src/types.ts
  packages/swapkit/api/src/index.ts
  packages/swapkit/api/src/swapkitApi/endpoints.ts
  packages/swapkit/api/src/swapkitApi/types.ts
Labels: api

#1134 feat: improves core and sdk typing
  .changeset/sweet-countries-juggle.md
  packages/swapkit/core/src/client.ts
  packages/swapkit/sdk/src/index.ts
Labels: core

#1136 Ref proigram type updates
  .changeset/two-ads-dance.md
  packages/swapkit/api/src/swapkitApi/types.ts
Labels: api

#1139 chore: updates types
  .changeset/fresh-moons-fold.md
  packages/plugins/chainflip/src/plugin.ts
  packages/swapkit/api/src/swapkitApi/endpoints.ts
  packages/swapkit/api/src/swapkitApi/types.ts
Labels: api

#1142 add detecting bitget through window object
  .changeset/unlucky-houses-float.md
  packages/swapkit/helpers/src/helpers/web3wallets.ts
Labels: core
