Repository thorswap/SwapKit, pull requests merged in 2025-04, with the labels that each got.

#1227 Chore/improve utxo tx building
  .changeset/sharp-spoons-boil.md
  bun.lockb
  packages/toolboxes/utxo/src/toolbox/utxo.ts
  packages/toolboxes/utxo/src/types/common.ts
Labels: utxo

#1229 chore: updates token lists
  .changeset/metal-books-thank.md
  packages/swapkit/tokens/src/tokenLists/camelot_v3.ts
  packages/swapkit/tokens/src/tokenLists/caviar_v1.ts
  packages/swapkit/tokens/src/tokenLists/chainflip.ts
  packages/swapkit/tokens/src/tokenLists/jupiter.ts
  packages/swapkit/tokens/src/tokenLists/kado.ts
  packages/swapkit/tokens/src/tokenLists/mayachain.ts
  packages/swapkit/tokens/src/tokenLists/oneinch.ts
  packages/swapkit/tokens/src/tokenLists/pancakeswap.ts
  packages/swapkit/tokens/src/tokenLists/pangolin_v1.ts
  packages/swapkit/tokens/src/tokenLists/sushiswap_v2.ts
  packages/swapkit/tokens/src/tokenLists/thorchain.ts
  packages/swapkit/tokens/src/tokenLists/traderjoe_v2.ts
  packages/swapkit/tokens/src/tokenLists/uniswap_v2.ts
  packages/swapkit/tokens/src/tokenLists/uniswap_v3.ts
Labels: tokens

#1234 Chore/cleanup ledger
  packages/core/src/client.ts
  packages/helpers/src/modules/assetValue.ts
  packages/helpers/src/modules/swapKitConfig.ts
  packages/helpers/src/utils/asset.ts
  packages/toolboxes/src/cosmos/index.ts
  packages/toolboxes/src/cosmos/toolbox/BaseCosmosToolbox.ts
  packages/toolboxes/src/cosmos/toolbox/getToolboxByChain.ts
  packages/toolboxes/src/cosmos/toolbox/kujira.ts
  packages/toolboxes/src/cosmos/toolbox/thorchain.ts
  packages/toolboxes/src/cosmos/types.ts
  packages/toolboxes/src/evm/toolbox/baseEVMToolbox.ts
  packages/toolboxes/src/utxo/toolbox/utxo.ts
  packages/toolboxes/src/utxo/types.ts
  packages/wallets/src/ctrl/index.ts
  packages/wallets/src/ctrl/walletHelpers.ts
  packages/wallets/src/keepkey-bex/index.ts
  packages/wallets/src/keepkey/chains/cosmos.ts
  packages/wallets/src/keepkey/chains/mayachain.ts
  packages/wallets/src/keepkey/chains/thorchain.ts
  packages/wallets/src/keplr/index.ts
  packages/wallets/src/keystore/index.ts
  packages/wallets/src/ledger/clients/thorchain/index.ts
  packages/wallets/src/ledger/index.ts
  packages/wallets/src/walletconnect/constants.ts
  packages/wallets/src/walletconnect/index.ts
Labels: docs, core, evm, utxo, cosmos, radix, mobile-wallet, keystore, hardware-wallet, substrate, browser-extensions, solana, api, tokens

#1238 fix: token transfers
  .changeset/weak-flowers-accept.md
  bun.lockb
  packages/toolboxes/solana/src/toolbox.ts
  playgrounds/vite/src/App.tsx
Labels: solana

#1248 fix: mismatch deps & blakejs usage
  .changeset/spicy-geese-marry.md
  .github/workflows/build-test-publish.yml
  bun.lock
  bun.lockb
  package.json
  packages/toolboxes/cosmos/package.json
  packages/toolboxes/radix/package.json
  packages/toolboxes/solana/package.json
  packages/toolboxes/utxo/package.json
  packages/wallets/keystore/package.json
  packages/wallets/keystore/src/helpers.ts
  packages/wallets/ledger/package.json
  tools/builder/package.json
Labels: utxo, cosmos, radix, keystore, solana

#1251 fix: utxo build bug tx hex missing
  .changeset/afraid-pears-remain.md
  bun.lock
  packages/toolboxes/utxo/src/toolbox/utxo.ts
  packages/toolboxes/utxo/src/types/common.ts
Labels: utxo

#1245 fix: add SERVICE fee type to FeeTypeEnum in @swapkit/helpers
  .changeset/seven-trainers-brake.md
  packages/swapkit/helpers/src/types/quotes.ts
Labels: core
