Repository thorswap/SwapKit, pull requests merged in 2025-02, with the labels that each got.

#1179 Feat/talisman cf support
  .changeset/giant-ants-walk.md
  packages/toolboxes/substrate/src/toolbox/toolboxFactory.ts
  packages/wallets/talisman/src/helpers.ts
  packages/wallets/talisman/src/talisman.ts
  playgrounds/nextjs/src/components/WalletConnectDialog.tsx
Labels: substrate

#1183 feat: build and bundle optimisations
  .changeset/giant-ants-walk.md
  bun.lock
  packages/plugins/chainflip/CHANGELOG.md
  packages/plugins/chainflip/build.ts
  packages/plugins/chainflip/package.json
  packages/plugins/evm/build.ts
  packages/plugins/kado/build.ts
  packages/plugins/radix/build.ts
  packages/plugins/thorchain/CHANGELOG.md
  packages/plugins/thorchain/build.ts
  packages/plugins/thorchain/package.json
  packages/swapkit/api/build.ts
  packages/swapkit/contracts/build.ts
  packages/swapkit/core/CHANGELOG.md
  packages/swapkit/core/build.ts
  packages/swapkit/core/package.json
  packages/swapkit/helpers/build.ts
  packages/swapkit/sdk/CHANGELOG.md
  packages/swapkit/sdk/build.ts
  packages/swapkit/sdk/package.json
  packages/swapkit/tokens/build.ts
  packages/swapkit/wallets/CHANGELOG.md
  packages/swapkit/wallets/build.ts
  packages/swapkit/wallets/package.json
  packages/swapkit/wizard/build.ts
  packages/toolboxes/cosmos/build.ts
  packages/toolboxes/evm/build.ts
  packages/toolboxes/radix/build.ts
  packages/toolboxes/solana/build.ts
  packages/toolboxes/substrate/CHANGELOG.md
  packages/toolboxes/substrate/build.ts
  packages/toolboxes/substrate/package.json
  packages/toolboxes/utxo/build.ts
  packages/wallets/bitget/build.ts
  packages/wallets/coinbase/build.ts
  packages/wallets/ctrl/build.ts
  packages/wallets/evm-extensions/build.ts
  packages/wallets/exodus/build.ts
  packages/wallets/keepkey-bex/build.ts
  packages/wallets/keepkey/build.ts
  packages/wallets/keplr/build.ts
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/build.ts
  packages/wallets/keystore/package.json
  packages/wallets/ledger/build.ts
  packages/wallets/okx/build.ts
  packages/wallets/phantom/build.ts
  packages/wallets/polkadotjs/CHANGELOG.md
  packages/wallets/polkadotjs/build.ts
  packages/wallets/polkadotjs/package.json
  packages/wallets/radix/build.ts
  packages/wallets/talisman/CHANGELOG.md
  packages/wallets/talisman/build.ts
  packages/wallets/talisman/package.json
  packages/wallets/trezor/build.ts
  packages/wallets/wc/build.ts
  tools/builder/index.ts
Labels: core, evm, utxo, cosmos, radix, mobile-wallet, keystore, substrate, browser-extensions, solana, api, tokens

#1182 Fix singAndBroadcast for substrate
  .changeset/plenty-mirrors-lay.md
  packages/plugins/chainflip/src/broker.ts
  packages/toolboxes/substrate/src/toolbox/baseSubstrateToolbox.ts
  packages/wallets/polkadotjs/src/helpers.ts
  packages/wallets/talisman/src/helpers.ts
Labels: substrate

#1187 feat: improve amino signer tc tx handling
  .changeset/early-doors-act.md
  packages/toolboxes/cosmos/src/thorchainUtils/messages.ts
  packages/toolboxes/cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/cosmos/src/toolbox/thorchain.ts
  packages/wallets/keplr/src/index.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/wc/src/walletconnect.ts
Labels: cosmos, mobile-wallet, hardware-wallet, browser-extensions

#1189 fix: keplr tc signer
  .changeset/tricky-steaks-train.md
  packages/wallets/keplr/src/index.ts
Labels: browser-extensions

#1193 chore: fix signing for amino signers toolbox
  .changeset/odd-feet-fly.md
  packages/toolboxes/cosmos/src/toolbox/thorchain.ts
Labels: cosmos
